<div class="main-pane">
    <div class="content-area">
        <div class="nav">
            <ul>
                <li class="selected">
                    Trending
                </li>
                <li>
                    <a href="/forums">Forums</a>
                </li>            
            </ul>
        </div>

        {{#if editorsPicks}}
            <ul class="cards standard">
            {{#each editorsPicks}}
                <li>
                {{{html}}}
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if featured}}
        <ul class="cards standard">
        {{#each featured}}
            <li>
            {{{html}}}
            </li>
        {{/each}}
        </ul>
        {{/if}}
    </div>
</div>
