<div class="columns-wrap">
    <div class="nav">
        <ul>
            <li class="selected">
                Recommended
            </li>
            <li>
                <a href="/posts/new">New Posts</a>
            </li>            
            <li>
                <a href="/forums">Forums</a>
            </li>            
        </ul>
    </div>
    <div class="content-area">    
    {{#if editorsPicks}}
        <ul class="cards">
        {{#each editorsPicks}}
            {{> postcard summary}}
        {{/each}}
        </ul>
    {{/if}}
    {{#if featured}}
        <ul class="cards">
        {{#each featured}}
            {{> postcard summary}}
        {{/each}}
        </ul>
    {{/if}}
    </div>
</div>

