<script>
    view = new Fora.Views.Home.Index()
</script>
<div class="columns-wrap">
    <ul class="nav">
        <li class="selected">
            Recommended
        </li>
        <li>
            <a href="/forums">New Posts</a>
        </li>            
    </ul>
    <div class="content-area">    
    {{#if editorsPicks}}
        <ul class="cards">
        {{#each editorsPicks}}
            {{> postcard summary}}
        {{/each}}
        </ul>
    {{/if}}
    {{#if featured}}
        <ul class="cards">
        {{#each featured}}
            {{> postcard summary}}
        {{/each}}
        </ul>
    {{/if}}
    </div>
</div>

