<div class="single-section-page single-column">

    {{> cover coverInfo}}

    <div class="main-pane">
        <nav>
            <ul>
                <li class="selected">
                    Posts
                </li>
                <li>
                    <a href="/forums">Forums</a>
                </li>            
            </ul>
        </nav>
        <div class="content-area">
            {{#if editorsPicks}}
                <ul class="articles default-view">
                    {{#each editorsPicks}}
                    {{{html}}}
                    {{/each}}
                </ul>
            {{/if}}

            {{#if featured}}
                <ul class="articles default-view">
                    {{#each featured}}
                    {{{html}}}
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>  
    
</div>
