<div class="page-wrap small">
    <div class="section">
        <h2>Login</h2>
        <ul>
            <li><i class="icon-twitter"></i><br />Twitter</li>
            <li><i class="icon-facebook"></i><br />FaceBook</li>
            <li><i class="icon-google-plus"></i><br />Google</li>
        </ul>
        <h4>Or use a Fora account</h4>
        <form>
            <input type="text" placeholder="username" />
            <input type="text" placeholder="password" />
            <button>Login</button>
        </form>        
        <div class="clear:both"></div>
    </div>
</div>

