<script type="text/javascript">
    
</script>
<div class="columns-wrap">
    <div class="content-area">    
        <h1 data-field-type="heading" data-field-name="title" data-placeholder="Forum name" class="unhighlight" contenteditable="true"></h1>
        <div class="content" data-field-type="text" data-field-name="descri" data-placeholder="Start typing content..."></div>
    </div>
</div>

