<script type="text/javascript">
    new Fora.Views.Forums.Create();
</script>

<div class="columns-wrap">
    <div class="content-area">    
        <h1 data-field-type="heading" data-field-name="title" data-placeholder="Name of the forum" contenteditable="true"></h1>
        <p class="content" data-field-type="plain-text" data-field-name="description" data-placeholder="Description of the forum goes here..."></p>
        <h3>Permissions</h3>
        <ul class="icon-block square cards narrow no-height">
            <li class="selected">
                <img src="" /><p class="text">This one goes out to the one</p>
            </li>
            <li>
                <img src="" /><p class="text">This one goes out to the one</p>
            </li>
            <li>
                <img src="" /><p class="text">This one goes out to the one</p>
            </li>
        </ul>
    </div>
    <div class="option-bar">
        <button class="positive">Create Forum</button>
    </div>
</div>


