<div class="main-pane">
    <div class="content-area wide">    
    <div class="nav alt">
        <ul>
            <li>
                <a href="/">Trending</a>
            </li>          
            <li class="selected">
                Forums
            </li>
        </ul>
        <ul class="alt buttons">
            <li>
                <a href="/forums/new" class="positive"><i class="fa fa-plus"></i>New Forum</a>
            </li>
        </ul>
    </div>
    {{#if featured}}
        <ul class="cards alt">
        {{#each featured}}
            {{> forumcard summary}}
        {{/each}}
        </ul>
    {{/if}}
    </div>
</div>

