<script>
    view = new Fora.Views.Forums.Index()
</script>
<div class="columns-wrap">
    <div class="content-area">    
    {{#if featured}}
        <ul class="cards">
        {{#each featured}}
            {{> forumcard summary}}
        {{/each}}
        </ul>
    {{/if}}
    </div>
</div>

