<div class="single-section-page">

    {{> cover coverInfo}}

    <div class="main-pane">
        <div class="nav alt">
            <ul>
                <li>
                    <a href="/">Posts</a>
                </li>          
                <li class="selected">
                    Forums
                </li>
            </ul>
            <ul class="alt buttons">
                <li>
                    <a href="/forums/new" class="positive"><i class="fa fa-plus"></i>New Forum</a>
                </li>
            </ul>
        </div>
        <div class="content-area wide">    
        {{#if featured}}
            <ul class="cards float-layout">
            {{#each featured}}
                {{> forumcard summary}}
            {{/each}}
            </ul>
        {{/if}}
        </div>
    </div>

</div>
