<div class="columns-wrap">
    <div class="content-area">    
        <h1>{{forum.name}}</h1>
        {{#if posts}}
            <ul class="cards">
            {{#each posts}}
                {{> postcard summary}}
            {{/each}}
            </ul>
        {{/if}}
    </div>
</div>

