<div class="columns-wrap">
    <div class="content-area">    
        <h1>{{forum.name}}</h1>
        {{#if message}}
        <div class="content-section-group">
            <div class="content-section normal">
                {{{message}}}
            </div>
        </div>
        {{/if}}
        <div class="nav alt">
            <ul>
                <li class="selected">
                    Recommended
                </li>
                <li>
                    <a href="/{{forum.stub}}/latest">Upcoming</a>
                </li>            
                <li>
                    <a href="/{{forum.stub}}/about">About</a>
                </li>          
            </ul>
            <ul class="alt buttons">
                <li>
                    <a href="#" class="positive"><i class="icon-plus"></i>New Post</a>
                </li>
            </ul>
        </div>
        {{#if posts}}
            <ul class="cards">
            {{#each posts}}
                {{> postcard summary}}
            {{/each}}
            </ul>
        {{/if}}   
    </div>
</div>

