<script type="text/javascript">
    new Fora.Views.Forums.New();
</script>
<div class="single-section-page">
    <div class="main-pane">
        <div id="create-forum-form" class="content-area">    
            <div class="xupsize-text">
                <h1 class="name"></h1>
                <p class="description"></p>
            </div>
            <ul class="selectable icon-block cells float-layout downsize-text" >
                <li class="selected col-span span3">
                    <div class="icon">
                        <img class="seal" src="/images/public.png" alt="public">
                    </div>
                    <div class="text content">
                        <h3>Public</h3>
                        <p>Anybody can join and post in the forum. Recommended.</p>
                    </div>
                </li>            
                <li class="col-span span3">
                    <div class="icon">
                        <img class="seal" src="/images/protected.png" alt="protected">
                    </div>
                    <div class="text content">
                        <h3>Protected</h3>
                        <p>Anybody can join, but only approved users can post in the forum.</p>
                    </div>
                </li>            
            </ul>
            <div class="option-bar">
                <button class="create">Create<i class="fa fa-caret-right"></i></button>
            </div>
        </div>
    </div>
</div>
