node_modules

*~

backups/*
!backups/placeholder
!backups/backup.sh

server/src/conf/index.coffee
server/app/conf/index.js

server/src/website/views/_custom/*
!server/src/website/views/_custom/placeholder

server/www-user/assetpaths/*
!server/www-user/assetpaths/placeholder
server/www-user/images/*
!server/www-user/images/placeholder
server/www-user/thumbnails/*
!server/www-user/thumbnails/placeholder
server/www-user/originals/*
!server/www-user/originals/placeholder
server/www-user/temp/*
!server/www-user/temp/placeholder

Thumbs.db

