node_modules

*~
!placeholder

backups/*
!backups/backup.sh

temp/*

server/app
www-client/app

server/src/website/views/_custom/*

server/src/conf/*
!server/src/conf/index.conf
!server/src/conf/*.sample

www-public/assets/*
www-public/images/*
!www-public/images/cover.jpg
!www-public/images/cover-experience.jpg
www-public/originalimages/*
www-public/temp/*

Thumbs.db

