node_modules
npm-debug.log
tags

*.swp
*~

server/app
www-client/app

backups/*
!backups/backup.sh

temp/*
!temp/placeholder

www-public/assets/*
!www-public/assets/0
!www-public/assets/0/placeholder

www-public/images/*
!www-public/images/0
!www-public/images/0/placeholder
!www-public/images/0/user.jpg
!www-public/images/0/user_t.jpg

www-public/original-images/*
!www-public/original-images/0
!www-public/original-images/0/placeholder

www-public/temp/*
!www-public/temp/placeholder

Thumbs.db
