server {
    listen 80;
    server_name fora.host.name;
    client_max_body_size 20M;

    location /public {
        alias /path/to/fora/server/public;
    }

    location /css {
        alias /path/to/fora/server/app/www/css;
    }

    location /images {
        alias /path/to/fora/server/app/www/images;
    }

    location /js {
        alias /path/to/fora/server/app/www/js;
    }

    location /lib {
        alias /path/to/fora/server/app/www/lib;
    }

    location / {
        proxy_pass http://localhost:10981;
        proxy_set_header   Host         $host;
    }

    location /api {
        proxy_pass http://localhost:10982;
        proxy_set_header   Host         $host;
    }
} 
