/* FONTS */
.fontBase { font-family: 'Open Sans', sans-serif; }
.fontContent { font-family: 'PT Serif', serif; }
.fontContentHeading { font-family: 'PT Serif', serif; }
.fontAlt { font-family: 'Oswald', sans-serif; }

@fontSizeLarge: 16px;
@fontSize: 14px;
@fontSizeSmall: 12px;
@fontSizeTiny: 11px; 

/* COLORS */

@colorText: #333;
@colorDimText: lighten(@colorText, 30%);
@colorLink: #559;
@colorLinkHover: darken(@colorLink, 20%);

@colorNegative: #600;
@colorDarkNegative: darken(@colorNegative, 10%);
@colorPositive: #060;
@colorDarkPositive: darken(@colorPositive, 10%);

@colorLight: #ccc;
@colorLighter: #ddd;
@colorUltraLight: #eee;
@colorLightest: #eee;
@colorNeutral: #999;
@colorDark: #666;
@colorDarkerBorder: #444;
@colorDarker: #333;
@colorDarkest: #000;

/* THEME */
@colorGroup1: #970026;
@colorGroup2: #006f48;
@colorGroup3: #a63600;
@colorGroup4: #399200;

.placeholder { color: #ccc }
.error { color: Red }
.italicize { font-style: italic }
.action { 
    &.positive { color: @colorPositive }
    &.negative { color: @colorNegative }
}

.light-text-mixin  { 
    .light-text {
        color: @colorNeutral; font-style: italic;
        a { color: @colorDark }
    }
}

/* BORDERS */
.rounded { border-radius: 2px; }

/* TAGS */
body { .fontBase; color: @colorText; margin: 0; }

em { font-style: italic; font-weight: normal }
strong { font-weight: bold }

/* LINKS */
a {  
    color: @colorLink; text-decoration: none; 
    &:hover { color: @colorLinkHover; text-decoration: underline; }
    i { text-decoration: none; margin-right: 6px; }        
    img { border: none }
    &.positive:hover, &.positive { color: @colorPositive }
    &.negative:hover, &.negative { color: @colorNegative }

}

/* FORM CONTROLS */
.control (@fg, @bg, @borderHighLight, @borderShadow) { 
    color: @fg; background-color: @bg; border-top: 1px solid darken(@bg, @borderHighLight); border-right: 1px solid darken(@bg, @borderShadow);     
    border-bottom: 1px solid darken(@bg, @borderShadow); border-left: 1px solid darken(@bg, @borderHighLight);
    &:hover { background-color: lighten(@bg, 5%);  }
}

input, select, textarea { .fontBase; font-size: @fontSize; .control(@colorText, #fff, 12%, 24%); .rounded; padding: 8px 4px 10px 4px; margin: 2px 0 2px 0; }
    input[type="checkbox"] { margin-right: 4px; }
    input[type="file"] { padding: 0; border: none }

label.alert-required { color: @colorNegative; }
label.alert-required:after { content: '*' }

button { 
    .fontBase; .control(@colorText, @colorLighter, 5%, 10%); .rounded; 
    padding: 11px 14px 11px 14px; margin: 0 2px 0 0; font-size: 11px;
    font-weight: bold; text-transform: uppercase; cursor: pointer;     

    i { padding-right: 6px; }        
    &.textless i { padding-right: 0; }

    &.positive { .control(#fff, @colorPositive, 0, 2%) }
    &.negative { .control(#fff, @colorNegative, 0, 2%) }
}

/* LIST */
ul { margin: 0; padding: 0 }
p { margin:0 0 1em 0; padding: 0 }
h1, h2, h3, h4 { margin:0 0 0.6em 0; padding: 0 }
h1 { font-size: 1.8em }
h2 { font-size: 1.4em }
h3 { font-size: 1.2em }
li { list-style: none }




.full-background { 
    position: fixed; margin-top: 0; height: 100%; width: 100%; background-color: #ccc; background-size: cover; 
    background-position: center; background-repeat: no-repeat; top: 0; z-index: -1 
}

