/* FONTS */
.fontBase { font-family: 'Open Sans', sans-serif; }
.fontContent { font-family: 'Crimson Text', serif; }
.fontContentHeading { font-family: 'Lato', sans-serif; }
.fontAlt { font-family: 'Oswald', sans-serif; }

/* COLORS */
@colorText: #333;
@colorDimText: lighten(@colorText, 30%);
@colorLink: #559;
@colorLinkHover: darken(@colorLink, 20%);

@colorNegative: #966;
@colorDarkNegative: #633;
@colorLightNegative: #dcc;
@colorPositive: #696;
@colorDarkPositive: #363;
@colorLightPositive: #cdc;

@colorLight: #ccc;
@colorLighter: #ddd;
@colorLightest: #eee;
@colorUltraLight: #f6f6f6;
@colorNeutral: #999;
@colorDark: #666;
@colorDarkerBorder: #444;
@colorDarker: #333;
@colorDarkest: #000;

/* THEME */
@colorGroup1: #970026;
@colorGroup2: #006f48;
@colorGroup3: #a63600;
@colorGroup4: #399200;

/* TAGS */
body { .fontBase; color: @colorText; margin: 0; }

em { font-style: italic; font-weight: normal }
strong { font-weight: bold }

h1, h2, h3, h4 { margin:0 0 0.6em 0; padding: 0 }
    h1 { font-size: 1.6em }
    h2 { font-size: 1.4em }
    h3 { font-size: 1.1em }
    h4 { font-size: 1em }

p { margin:0 0 1em 0; padding: 0 }

ul { 
    margin: 0; padding: 0;
    li { list-style: none }
}

/* LINKS */
a {  
    color: @colorLink; text-decoration: none; 
    &:hover { color: @colorLinkHover; text-decoration: underline; }
    i { text-decoration: none; margin-right: 6px; }        
    img { border: none }
    &.positive:hover, &.positive { color: @colorPositive }
    &.negative:hover, &.negative { color: @colorNegative }

}

/* FORM CONTROLS */
.control (@fg, @bg, @borderColor, @borderHighLight, @borderShadow) {
    min-width:80px; color: @fg; background-color: @bg; border-top: 2px solid darken(@borderColor, @borderHighLight); border-right: 2px solid darken(@borderColor, @borderShadow);     
    border-bottom: 2px solid darken(@borderColor, @borderShadow); border-left: 2px solid darken(@borderColor, @borderHighLight);
    &:hover { background-color: darken(@bg, 2%);  }
}

input, select, textarea { .fontBase; .control(@colorText, #fff, #fff, 12%, 24%); .rounded; padding: 8px 4px 10px 4px; margin: 2px 0 2px 0; }
    input[type="checkbox"] { margin-right: 4px; }
    input[type="file"] { padding: 0; border: none }

label.alert-required { color: @colorNegative; }
label.alert-required:after { content: '*' }

button { 
    .fontBase; .control(@colorText, #fff, #fff, 8%, 8%); border-radius: 30px; outline: none;
    padding: 9px 12px 9px 12px; margin: 0 2px 0 0; font-weight: bold; text-transform: uppercase; cursor: pointer;     

    i { padding-right: 6px; }        
    &.textless i { padding-right: 0; }

    &.positive { color: @colorPositive; border-color: @colorLightPositive  }
    &.negative { color: @colorNegative; border-color: @colorLightNegative }
}

/* CUSTOM */
.placeholder { 
    color: #aaa; 
    &.dim { color: #eee } 
}

.error { color: Red }
.action { 
    &.positive { color: @colorPositive }
    &.negative { color: @colorNegative }    
}

.large-text {
    font-size: 1.3em;    
}

.sub-text {
    color: @colorNeutral; font-style: italic; font-size: 0.9em;
    a { color: @colorDark }
    i { font-size: 0.9em }
}

.rounded { border-radius: 2px; }


