ul.cards {
    h1, h2, h3 { margin-bottom: 0.4em }
    p { margin-bottom: 0.6em }    
}

.cards-mixin(@minWidth) when (@minWidth >= 720) {
    ul.cards {
        > li {
            clear: both; margin-bottom: 40px;
            > .card-face { 
                float: left; width: 120px;
                .image { width: 100%; height: 90px; background-size: cover; background-position: 50% 50% }
                > .content-wrap { width: 100%; height: 90px; background: #eee }
            }
            > .card-content { 
                float: left; width: 540px; margin-left: 20px; margin-top: -4px; font-size: 1.1em;
            }   
            &:after { content: ""; display:block; clear: both }
        }    
    }   
}
