/* Common for all pages */
.header {
    .logo {
        .fontAlt; display: block; padding: 6px 10px 6px 2px; cursor: pointer; height: 32px; width: 32px; font-size: 12px; background: #aaa; color: white; float: left; 
        text-transform: uppercase; position: absolute; top: 6px; left: 6px; position: absolute; z-index: 100;
        &:hover { background: #333; }
    }    
}

.option-bar { 
    height: 24px; .fontBase; font-weight: bold; font-size: 12px; padding-bottom: 4px; margin: 0 0 16px 0; 
    
}

.button-bar {
    .option-bar; position: absolute; top: 12px; right: 12px;
}

.nav {         
    .option-bar; clear: both;
    border-bottom-width: 2px; border-bottom-style: solid;
    ul {
        float: left; 
        li { 
            float: left; padding-right: 12px; 
            &.selected { }
            a { text-decoration: underline; }
            i { text-decoration: none }
        }
        &.alt { float: right; }
    }
    &.buttons {
        padding-bottom: 24px;
        ul {
            float: right;
            li { padding-right: 4px; }
        }
    }
}


/* Left side pane */
.site-options {
    height: 100%; position: absolute; top: 0; left: 0; display: none; z-index: 99; 
                        
    ul {
        opacity: 0.96; width: 220px; padding-top: 12px; font-size: 12px; font-weight: bold; 
        li {                
            border-bottom-width: 1px; border-bottom-style: solid; clear: both; display: table; width: 100%;
            a { 
                display: block; padding: 10px 4px 10px 20px; float: left; min-width: 120px;
                i { 
                    margin-right: 12px; 
                }
                &.right { 
                    float: right; padding: 10px 24px 10px 16px; margin: 0; min-width: 0;
                    i { margin: 0 }
                }   
            }
        }
    }
    .transparent-overlay {
        position: fixed; margin-left: 220px; height: 100%; top: 0; left: 0; width: 100%; cursor: pointer;
    }
}

/* Generic sections. */
.content { 
    .fontContent;
}

div.content { 
    .fontContent;
    h1, h2, h3 { .fontContentHeading }
}

.text-block {
    font-size: 1em; line-height: 1.2em; 
    li { display: block; padding-bottom: 8px; }
}

/*
    Icon Block
    *******  ************
    * img *  *   text   *
    *******  ************
*/
.icon-block {
    line-height: 1.4em; display: block; font-size: 0.9em; 
    img { float: left; width:32px; height: 32px; border-radius: 100%; margin: 4px 4px 0 0 }
    .text { 
        display: block; float: left; margin: 0px 0 16px 4px; 
        h3, h4 { margin: 0 }
    }
    &:after { content: ""; display:block; clear: both }
}

/*
    Stamp Block
    *******  ************
    * img *     text    *
    *******  that flows *
    *   around the img  * 
    *********************
*/
.stamp-block {        
    img { float: right; width:48px; height: 48px; border-radius: 100%; margin-top: 3px; }
    h2 { margin: 0 0 .2em 0 }
    &.square { border-radius: none; }
}

/* Dynamically created login */
.login-box-mixin (@width, @spacing, @fontSize) {
    #login-box {
        .rounded; padding: @spacing (2 * @spacing); width: @width; text-align: center; box-sizing: border-box; -moz-box-sizing: border-box; 
        h2 { clear: both; margin: 0 }
        li {
            font-size: @fontSize; clear: both; height: (@fontSize * 2.3);
            i { 
                float: left; font-size: (@fontSize * 2);
                &.fa-twitter { color: #00aced }
                &.fa-facebook { color: #3b5998 }
                &.fa-google-plus { color: #d34836 }    
            }
            a { 
                float: left; margin: 6px 0 0 12px;
                &.twitter { color: #00aced }
            }
        }
    }
}

/* Dashboard Style Widgets */
.dashboard-widgets {
    > div {
        float: left; .rounded; 
        p {
            line-height: 0.6em; margin: 0;
            &.large-text { font-size: 32px; font-weight: bold; text-align: center }
            .subtext { font-size: 12px; font-weight: bold; text-transform: uppercase }
        }     
        &.full { width: 80%; padding: 20px 8% 12px 8%; margin: 0 4% 20px 0 }
        &.half { width: 40%; padding: 20px 4% 12px 4%; margin: 0 2% 20px 0 }
    }
}

/* LEAN MODAL - Thanks to http://leanmodal.finelysliced.com.au/ */
#lean_overlay { position: fixed; z-index:100; top: 0px; left: 0px; height:100%; width:100%; display: none; }

