@import "base.less";

.light-text { color: @colorNeutral }

.action { font-size: @fontSize; }
    .action.positive { color: @colorPositive }
    .action.negative { color: @colorNegative }


/* By default, scr-tiny is hidden and will be show only on tiny screens */
.scr-tiny { display: none }

.page-sections-mixin {
    /* HEADER and LOGO */
    .header {
        .logo {
            .fontAlt; padding: 6px 10px 6px 2px; cursor: pointer; height: 32px; width: 32px; font-size: 20px; background: #ddd; color: white; float: left; 
            text-transform: uppercase; position: absolute; top: 6px; left: 6px; 
            &:hover { background: #333; }
        }    
    }

    /* NAVIGATION BARS */
    .nav {         
        height: 24px; @fontBase; font-size: @fontSizeSmall; font-weight: bold; text-transform: uppercase; color: @colorNeutral;
        li { 
            float: left; padding-right: 12px; color: @colorNeutral; 
            &.selected { color: @colorDark }
            a { 
                text-decoration: underline; color: @colorNeutral; 
                &:hover { color: @colorDark }                
            }
            i { font-size: 14px; text-decoration: none }
        }
        &.alt { float: right; }
    }


    .container { 
        text-align: center; margin-top: 18px;
        .page-wrap { 
            text-align: left; margin: auto;
        }
        .columns-wrap { 
            text-align: left; margin: auto;
        }
    }
    
    .content-area { 
        .fontContent; clear: both; margin-top: 12px;
        > h1 { margin-top: -12px }    
    }

}

.large-cover-page-mixin (@minWidth; @colCount; @colWidth; @colSpacing) {
    @unit: (@minWidth / 40);
    
    .small-page-element, .tiny-page-element { display: none }
    .large-page-element { display: block }

    .cover-page {
        @coverWidth: (@unit * 9);
        .cover { 
            height: 100%; position: fixed; top:0; right: 0; background-size: cover; background-position: center; 
            width: @coverWidth + 0px;
        }
        
        .container {
            margin-right: @coverWidth + 0px;
            .columns-wrap {
                width: (@colCount * (@colWidth + @colSpacing)) + 0px;
                padding: 0 0 0 (@colSpacing / 2) + 0px;
            }
        }
    }    
}

.large-std-page-mixin () {

    .small-page-element, .tiny-page-element { display: none }
    .large-page-element { display: block }

    .std-page {
        .page-wrap {
            width: 980px; margin: auto; padding: 0;            
            .single-item-mixin (640px, 280px, 28, 18);
            .item { 
                float: left; margin-right: 60px; 
                .cover { width: 100%; margin-bottom: 20px; }
                &.text { 
                    &.text { .content-text-mixin; }
                }
            }
            .sidebar { 
                float: left; 
                .header { 
                    margin-top: 32px;
                    img { width: 120px; border-radius: 100% }
                    h2 { margin: 6px 0; font-size: 18px; }
                }
            }
        }
    }
}

.small-cover-page-mixin (@minWidth; @colCount; @colWidth; @colSpacing) {
    @unit: (@minWidth / 40);
    
    .large-page-element, .tiny-page-element { display: none }
    .small-page-element { display: block }

    .cover-page {
        @coverHeight: 300;
        .cover { 
            background-size: cover; background-position: center; 
            height: @coverHeight + 0px;
        }

        .container {
            .columns-wrap {
                width: (@colCount * (@colWidth + @colSpacing)) + 0px;
                padding: 0 0 0 (@colSpacing / 2) + 0px;
            }
        }        
    }
}

.small-std-page-mixin (@width, @sidebarWidth, @headingSize, @contentSize) {

    .large-page-element, .tiny-page-element { display: none }
    .small-page-element { display: block }

    .std-page {
        .page-wrap {
            width: @width + 0px; margin: auto; padding: 0;            
            .single-item-mixin (100%, 100%, @headingSize, @contentSize);
            .item { 
                .cover { width: 100%; margin-bottom: 20px; }

                .desc-styles-mixin(14);

                &.text { 
                    &.text { .content-text-mixin; }
                }
            }
            .sidebar { 
                .header { 
                    img { width: 120px; border-radius: 100% }
                    h2 { margin: 6px 0; font-size: 18px; }
                }
            }
        }    
    }
}


.tiny-cover-page-mixin {

    .cover-page {
        @coverHeight: 240;
        .cover { 
            background-size: cover; background-position: center; 
            height: @coverHeight + 0px;
        }

        .container {
            .columns-wrap {
                padding: 0 32px;
            }
        }        
    }
}

.tiny-std-page-mixin (@headingSize, @contentSize) {
    .large-page-element, .small-page-element { display: none }
    .tiny-page-element { display: block }

    .std-page {
        .page-wrap {
            margin: auto 32px; padding: 0;            
            .single-item-mixin (100%, 100%, @headingSize, @contentSize);
            .nav { margin-left: 40px; }
            .content-area {
                margin-top: 28px;
                .item { 
                    .cover { width: 100%; margin-bottom: 20px; }
                    .desc-styles-mixin(14);
                    &.text { .content-text-mixin; }
                }
                .sidebar { 
                    .header { 
                        img { width: 120px; border-radius: 100% }
                        h2 { margin: 6px 0; font-size: 18px; }
                    }
                }
            }
        }    
    }
}

.content-text-mixin {
    p { line-height: 1.4em; margin-bottom: 1.4em }
}


.cards-mixin (@colWidth; @colSpacing; @colHeaderSize; @colTextSize; @wideColImageWidth; @wideColWidth) {
    
    /* POSTS */
    ul.cards {
        clear: both; float: left;
        
        .margins() when not (ispercentage(@colWidth)) {
            margin: -32px 0 32px -(@colSpacing / 2) + 0px; 
        }
        .margins() when (ispercentage(@colWidth)) {
            margin: 0;
        }        
        
        .margins();

        > li {
            float: left; overflow: hidden; 

            .column-size() when not (ispercentage(@colWidth)) {
                margin: 32px ((@colSpacing / 2) + 0px) 0 ((@colSpacing / 2) + 0px);
                width: @colWidth + 0px; 
            }

            .column-size() when (ispercentage(@colWidth)) {                                
                margin-bottom: 32px;
            }        
            
            .column-size();

            &.alt { 
                background-color: @colorLighter;            
                width: @colWidth - 1px; border-right: 1px solid @colorLight; border-bottom: 1px solid @colorLight; 
                .overlay { margin-left: -12px; }
                .content-wrap {
                    padding: 0 12px;
                }
            }

            .image { 
                height: 160px; background-size: cover; background-position: center; background-repeat: no-repeat;
                width: 100%; margin-bottom: 12px;
            }
            .content-wrap { 
                .content { 
                    margin-bottom: 8px; height: 360px; overflow: hidden;
                    font-size: @colTextSize + 0px;
                }
                
                .overlay {
                    position:absolute; height: 48px; margin-top: -56px; pointer-events: none;
                    .overlay-size() when not (ispercentage(@colWidth)) {
                        width: @colWidth + 0px;
                    }
                    .overlay-size() when (ispercentage(@colWidth)) {
                        width: 100%; left: 0;
                    }
                    .overlay-size();
                    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                }
                .activity { .fontBase; float: right; color: @colorNeutral; font-size: 12px;  font-weight: bold; line-height: 1.3em; padding-right: 4px; }

                .desc-styles-mixin(14);
            }
            
            .image + .content-wrap .content { max-height: 188px }

            /* Alternate layout */
            &.alt {
                .image { height: 100px; }
                .image + .content-wrap .content { max-height: 248px }
            }
            
            h2 { margin: 0 0 8px 0; line-height: 1.1em; font-size: @colHeaderSize + 0px; }            
            p { margin: 0 0 12px 0 }
            
            /* wide column is only needed if width isn't in percetage. */
            .wide-column() when not (ispercentage(@colWidth)) {
                &.wide {            
                    width: @wideColImageWidth + @wideColWidth + 60px; height: 280px;
                    .image { width: @wideColImageWidth + 0px; height: 280px; margin-right: 20px; float: left; background-size: cover; background-repeat: no-repeat }
                    .content-wrap { 
                        float: left; height: 280px; width: @wideColWidth + 0px; 
                        .content { max-height: 200px; }
                        .overlay { width: @wideColWidth + 0px }
                        .source {
                            .text { width: (@wideColWidth - 160) }
                        }
                    }
                    h2 { font-size: 28px; }
                }                        
            }                      
            .wide-column();  
        }
    }
}

.desc-styles-mixin (@fontSize) {
    .iconic-desc {
        font-size: @fontSize + 0px; line-height: 1.2em; display: block;
        img { float: left; width:32px; height: 32px; border-radius: 100%; margin: 0 4px 0 0 }
        .text { display: block; margin-left: 40px; }
        
    &.sub-heading { margin-top: -4px; margin-bottom: 12px; }
    }

    ul.desc-text {
        li {
            font-size: @fontSize + 0px; line-height: 1.2em; display: block; padding-bottom: 8px;
            .text { display: block; }
        }
    }
}

.single-item-mixin (@width, @sidebarWidth, @headingSize, @contentSize) {
    .item {
        width: @width; margin: auto; 
        h1 { font-size: @headingSize + 0px }
        .content { 
            font-size: @contentSize + 0px;
            .wider { width: @width + 40px; }
        }
    }
    
    .sidebar {
        width: @sidebarWidth;
    }
}

.page-sections-mixin;

/* .*-cover-page-mixin (@minWidth, @colCount, @colWidth, @colSpacing) */
@media (min-width: 1760px) { 
    .large-cover-page-mixin(1760; 3; 360; 40);    
    .cards-mixin(360; 40; 22; 16; 220; 500);
}

@media (min-width: 1600px) and (max-width: 1759px) { 
    .large-cover-page-mixin(1600; 3; 300; 40);
    .cards-mixin(300; 40; 22; 14; 220; 500);
}

@media (min-width: 1320px) and (max-width: 1599px) { 
    .large-cover-page-mixin(1320; 3; 280; 32);
    .cards-mixin(280; 32; 22; 14; 220; 500);
}

@media (min-width: 1200px) and (max-width: 1319px) { 
    .small-cover-page-mixin(1200; 3; 300; 40);
    .cards-mixin(300; 40; 22; 14; 220; 500);
}

@media (min-width: 1200px) { 
    .large-std-page-mixin();
}

@media (min-width: 1024px) and (max-width: 1199px) { 
    .small-cover-page-mixin(1024; 3; 292; 32);
    .cards-mixin(292; 32; 22; 14; 220; 500);
}

@media (min-width: 960px) and (max-width: 1023px) { 
    .small-cover-page-mixin(960; 3; 280; 32);
    .cards-mixin(280; 32; 22; 14; 220; 500);
}

@media (min-width: 960px) and (max-width: 1199px) { 
    .small-std-page-mixin(640, 640, 28, 18);
}

@media (min-width: 720px) and (max-width: 959px) { 
    .small-cover-page-mixin(720; 2; 300; 32);
    .cards-mixin(300; 32; 22; 14; 220; 380);
}

@media (min-width: 720px) and (max-width: 959px) { 
    .small-std-page-mixin(600, 600, 28, 18);
}

@media (max-width: 719px) { 
    .tiny-cover-page-mixin;
    .cards-mixin(100%; 32; 22; 14; 220; 380);
}

@media (min-width: 640px) and (max-width: 719px) { 
    .tiny-std-page-mixin(24, 18);    
}

@media (min-width: 480px) and (max-width: 639px) { 
    .tiny-std-page-mixin(20, 16);    
}

@media (max-width: 479px) { 
    .tiny-std-page-mixin(18, 14);    
}

/* HOME */

