.content-area {
    &.upsize {
        h1 { font-size: 1.8em }
        h2 { font-size: 1.6em }
        h3 { font-size: 1.4em }
        p { font-size: 1.4em }
    }
}

.page-content-area(@contentAreaWidth) {
    .content-area {
        width: @contentAreaWidth + 0px; font-size: (@contentAreaWidth / 720) + 0em; margin: auto;
        &.wide {
            width: 100%;
        }
    }
}


/* Large Pages */
.large-pages-common() {
    .small-page-element .tiny-page-element { display: none; }
    .large-page-element { display: block !important; }

    .main-pane, .alt-pane {
        margin-top: 20px; box-sizing: border-box; -moz-box-sizing: border-box; padding-left: 64px; padding-right: 24px;      
        > .nav { 
            &:before { content: ">"; display:block; float: left;  margin-right: 12px; }
        }
    }
    
    .cover {
        &.auto-cover, &.top-cover, &.full-cover {
            .image {
                background-size: cover; background-position: 50% 50%; height: 100%;
                > .underlay { opacity: 0.5; width: 100%; position: fixed; height: 100%; }
                > .content-wrap { 
                    h1 { font-size: 2em; margin-bottom: .3em }
                    p { font-size: 1.3em }
                    
                }
            }
            button {
                background: transparent; 
            }
        }
        
        &.auto-cover {
            position: fixed; height: 100%; top: 0; right: 0;
            .image {
                > .content-wrap { 
                    left: 32px; bottom: 20px; position: absolute; max-width: 500px;
                }
            }
        }

        &.inline-cover { 
            padding-left: 64px; padding-right: 24px;
            img { width: 100% }
        }

        &.top-cover { height: 400px; }
        &.full-cover { /* TODO */ }        
    }
}


/*
    Single section pages
    1.  main pane occupies 50% of the width
        has one content column. content area width is 720px;
        It could take 50% in the middle, or to the left if there is a cover on the right.
    
    2.  main pane occupies max defined width (called 'wide')
        has two content columns. content area width is max defined width.
        Two column auto-cover will default to top-cover
*/

.large-single-section-page(
    @minWidth,
    @contentAreaWidth,
    @topCoverHeight, 
    @autoCoverWidth
) {
    
    .single-section-page {

        margin-top: -64px; padding-top: 64px;
                
        /* No cover */
        .main-pane:first-child { 
            width: 100%; 
            .page-content-area(@contentAreaWidth);
        }


        /* Auto cover in large pages position on the side */
        .auto-cover {
            width: @autoCoverWidth; left: (100% - @autoCoverWidth); 
            + .main-pane { 
                width: (100% - @autoCoverWidth); 
                .page-content-area(@contentAreaWidth);
            }
        }
        
        /* Top, full and inline position on top */
        .top-cover, .full-cover, .inline-cover {
            + .main-pane { 
                width: 100%; 
                .page-content-area(@contentAreaWidth);
            }
        }
        
        /* Inline covers have the same width as content area. Position on top */
        .inline-cover {
            width: 720px; margin: 64px auto 12px auto;
            
            + .main-pane {
                .content-area {
                    font-size: 0.9em;
                    &.item {
                        padding: 20px 32px; box-sizing: border-box; -moz-box-sizing: border-box; 
                    }
                }
            }
        }              
        
        ul.cards {
            &.float {
                > li {
                    width: (100 / floor((@minWidth - 160) / 300)) + 0%
                }
            }
        }
        
    }    
}


/*
    Multi section pages
*/
.large-multi-section-page(@mainPaneWidth, @coverHeight) {
    .multi-section-page {
        .main-pane { width: @mainPaneWidth; float: left; }
        .alt-pane { width: (100% - @mainPaneWidth); float: left }
    }
}

/* Large page sub-classes */
.large-pages(@minWidth) when (@minWidth >= 1720) {  
    .large-single-section-page(
        @minWidth,
        @contentAreaWidth: 720,
        @topCoverHeight: 400px, 
        @autoCoverWidth: 50%
    );
    .large-multi-section-page(50%, 400px);
}

.large-pages(@minWidth) when (@minWidth >= 1400) and (@minWidth < 1720) {  
    .large-single-section-page(
        @minWidth,
        @contentAreaWidth: 720,
        @topCoverHeight: 400px, 
        @autoCoverWidth: 50%
    );
    .large-multi-section-page(60%, 400px);
}

.large-pages(@minWidth) when (@minWidth < 1400) {  
    .large-single-section-page(
        @minWidth,
        @contentAreaWidth: 600,
        @topCoverHeight: 400px, 
        @autoCoverWidth: 50%
    );
    .large-multi-section-page(60%, 400px);
}

/* Small Pages */
.small-pages-common() {
    .large-page-element .tiny-page-element { display: none; }
    .small-page-element { display: block !important; }
}

.small-pages(@minWidth) {
    
}
