/* Common for all pages */
.header {
    .logo {
        .fontAlt; display: block; padding: 6px 10px 6px 2px; cursor: pointer; height: 32px; width: 32px; font-size: 12px; background: #aaa; color: white; float: left; 
        text-transform: uppercase; position: absolute; top: 6px; left: 6px; position: absolute; z-index: 100;
        &:hover { background: #333; }
    }    
}

.option-bar { height: 24px; .fontBase; font-weight: bold; font-size: 12px; color: @colorNeutral; padding-bottom: 4px; margin-bottom: 16px; }

.nav {         
    .option-bar; clear: both;
    border-bottom: 2px solid @colorUltraLight; /* box-shadow: 0 2px 0 @colorUltraLight; */
    ul {
        float: left; 
        li { 
            float: left; padding-right: 12px; color: @colorNeutral; 
            &.selected { color: @colorDark }
            a { text-decoration: underline; }
            i { text-decoration: none }
        }
        &.alt { float: right; }
    }
    &.buttons {
        padding-bottom: 24px;
        ul {
            float: right;
            li { padding-right: 4px; }
        }
    }
}


/* Left side pane */
.site-options {
    height: 100%; position: absolute; top: 0; left: 0; display: none; z-index: 99; 
                        
    ul {
        background: @colorDarker; opacity: 0.96; width: 220px; height: 100%; 
        padding-top: 12px; font-size: 12px; font-weight: bold; color: @colorLight;
        li {                
            border-bottom: 1px solid @colorDarkerBorder; clear: both; display: table; width: 100%;
            a { 
                display: block; padding: 10px 4px 10px 20px; color: @colorLight; float: left; min-width: 120px;
                i { 
                    margin-right: 12px; 
                }
                &:hover { color: white }
                &.right { 
                    float: right; padding: 10px 24px 10px 16px; margin: 0; min-width: 0;
                    i { margin: 0 }
                }   
            }
        }
    }
    .transparent-overlay {
        position: fixed; margin-left: 220px; height: 100%; top: 0; left: 0; width: 100%; cursor: pointer;
    }
}

/* Large Pages */
.large-pages-common() {
    .content-area {
        width: 720px; margin: auto;
        
        .cards-mixin(720);
    }    

    .fluid-page {
        .main-pane {
            margin-top: 20px;
        }
        
        .cover {
            position: fixed; height: 100%; top: 0;
            .image {
                background-size: cover; background-position: 50% 50%; height: 100%;
                .content-wrap { left: 32px; bottom: 0; position: absolute }
            }
        }
    }

}

.large-pages(@minWidth) when (@minWidth >= 1720) {  
    .fluid-page {
        .main-pane {
            width: 50%;
        }          
        .cover {
            width: 50%; left: 50%; 
        }
        
        &.multi-pane {
            .main-pane { margin-top: 420px; }

            .alt-pane {
                width: 50%; left: 50%; margin-top: 420px;
            }

            .cover { position:absolute; left:0; top: 0; width: 100%; height: 400px; }
        }
    }
    
}

.large-pages(@minWidth) when (@minWidth >= 1400) and (@minWidth < 1720) {  
    .fluid-page {
        .main-pane {
            width: 60%;
        }        
        .cover {
            width: 40%; left: 60%; 
        }
    }
}

.large-pages(@minWidth) when (@minWidth < 1400) {  
    .fluid-page {
        .main-pane {
            width: 66%;
        }        
        .cover {
            width: 34%; left: 66%; 
        }
    }
}



