{
    "app": {
        "websiteHost": "localhost",
        "websitePort": 10981,
        "apiHost": "localhost",
        "apiPort": 10982
    },
    "db": { 
        "name": "fora-dev-db", 
        "host": "127.0.0.1", 
        "port": 27017 
    },
    
    "auth": {
        "twitter": {
            "TWITTER_CONSUMER_KEY": "YOUR_TWITTER_KEY",
            "TWITTER_CONSUMER_SECRET": "YOUR_LITTLE_SECRET",
            "TWITTER_CALLBACK": "TWITTER_CALLBACK"
        },
        "adminkeys": { 
            "default": "Th3B@DGor1ll@@5"
        }
    },
    
    "admins": ["jeswin"],
    
    "defaultNetwork": "foraproject.org"
}
