<script>
    view = new Lappd.Views.Forums.Index()
</script>
<div class="columns-wrap">
    <ul class="nav">
        <li>
            <a href="/">Posts</a>
        </li>
        <li class="selected">
            Forums
        </li>            
        <li>
            <a href="/people">People</a>
        </li>            
    </ul>
    {{#if featured}}
        <ul class="cards">
        {{#each featured}}
            {{> forumcard summary}}
        {{/each}}
        </ul>
    {{/if}}
</div>

