.card-common() {
    margin-bottom: 20px; display: inline-block; text-align: left; background: #f6f6f6;

    div.cover { background-size: cover; background-position: 50% 50%; }
    div.content { padding: 1em; overflow: hidden; }
}

ul.cards > li, .card {
    .card-common();
}

.card(@cards-in-row, @cover-height, @content-height,
            @col-width, @gutter-width, @num-cols, @page-width) {
    @card-size: @num-cols / @cards-in-row;
    ul.cards > li, .card {
        .grid(@col-width, @gutter-width, @num-cols, @page-width);
        .column(@card-size);

        div.cover { height: @cover-height; }
        div.content { height: @content-height; }
    }
}
