/*
    This is derived from
    // Semantic.gs // for LESS: http://lesscss.org/
*/

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
    *zoom:1;

    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
}

.grid-fixed(@col-width, @gutter-width, @columns, @prefix) {
    @gridsystem-width: ((@col-width + @gutter-width) * @columns) * 1px;

    .row {
        display: block;
        width: (@gutter-width + @gridsystem-width);
        margin: 0 (@gutter-width * .5);
        .clearfix;
    }

    .column-common(@x) when (@x > 0) {

        .col-xs-@{x}, .col-sm-@{x}, .col-md-@{x}, .col-lg-@{x} {
            display: inline;
            float: left;
            margin: 0 (@gutter-width * .5);
            max-width: 100%;
        }

        @width: ((@gutter-width + @col-width) * @x) - @gutter-width;

        .do() when (@prefix = xs) {
            .col-sm-@{x}, .col-md-@{x}, .col-lg-@{x} {
                width: @width;
            }
        }

        .do() when (@prefix = sm) {
            .col-xs-@{x}, .col-md-@{x}, .col-lg-@{x} {
                width: @width;
            }
        }

        .do() when (@prefix = md) {
            .col-xs-@{x}, .col-sm-@{x}, .col-lg-@{x} {
                width: @width;
            }
        }

        .do() when (@prefix = lg) {
            .col-xs-@{x}, .col-sm-@{x}, .col-md-@{x} {
                width: @width;
            }
        }

        .do();

        .column-common(@x - 1);

    }

    .column-common(@columns - 1);

    .col-xs-@{columns}, .col-sm-@{columns}, .col-md-@{columns}, .col-lg-@{columns} {
        width: 100%;
    }

    .column-prefixed(@x) when (@x > 0) {

        .col-@{prefix}-@{x} {
            width: ((@gutter-width + @col-width) * @x) - @gutter-width;
        }

        .column-prefixed(@x - 1);

    }

    .column-prefixed(@columns - 1);

    .col-@{prefix}-@{columns} {
        width: 100%;
    }

    .push(@offset: 1) {
        margin-left: ((@gutter-width + @col-width) * @offset) + (@gutter-width * .5);;
    }

    .pull(@offset: 1) {
        margin-right: ((@gutter-width + @col-width) * @offset) + (@gutter-width * .5);;
    }
}
