/* Large Pages */
.large-pages-common {
    .small-page-element, .tiny-page-element { display: none; }
    .large-page-element { display: block !important; }

    .auto-cover {
        position: fixed; height: 100%; top: 0; right: 0;
        .image {
            > .underlay { width: 100%; position: fixed; height: 100%; }
            > .content-wrap { 
                left: 32px; bottom: 20px; position: absolute; width: 70%; max-width: 400px;
            }
        }
    }    
    
    .top-cover { 
        position: relative;
        .content-wrap {
            position: absolute; bottom: 0px; padding:0 0 32px 32px; max-width: 600px;                
        }        
    } 

    .auto-cover+.main-pane {
        > nav:first-child { margin-left: 40px; }
    }    

}

.large-page(
    @minWidth,
    @contentAreaWidth,
    @altContentAreaWidth,
    @mainPaneWidth,
    @topCoverHeight
) {
    .single-section-page {

        margin-top: -64px; padding-top: 64px;

        /* Top and full covers have 100% main-pane width */
        .top-cover, .full-cover {
            + .main-pane { 
                width: 100%;                
                .page-content-area(@contentAreaWidth)
            }
        }              

        .top-cover {
            height: @topCoverHeight;
        }
        
        .inline-cover {
            width: @contentAreaWidth; max-width: 720px; 
        }

        /* Auto cover in large pages position on the side. Adjust main-pane width */
        .auto-cover {
            left: @mainPaneWidth; width: (100% - @mainPaneWidth); 
            + .main-pane { 
                width: @mainPaneWidth; 
            }
        }

        .main-pane {
            /* No cover. 100% main-page width */
            &:first-child { 
                width: 100%; 
            }
            .page-content-area(@contentAreaWidth);
        }        
    }

    ul.cards {
        &.float-layout {
            > li {
                width: ((100 / floor((@minWidth - 160) / 300)) - 2) + 0%
            }
        }
    }

    /* TODO: FIXME */
    .spans(940);
}



/* Large page guards */
.large-pages(@minWidth) when (@minWidth >= 1720) {  
    .large-page(
        @minWidth,
        @contentAreaWidth: 720px,
        @altContentAreaWidth: 720px,
        @mainPaneWidth: 50%,
        @topCoverHeight: 400px
    );
}

.large-pages(@minWidth) when (@minWidth >= 1400) and (@minWidth < 1720) {  
    .large-page(
        @minWidth,
        @contentAreaWidth: 720px,
        @altContentAreaWidth: 500px,
        @mainPaneWidth: 60%,
        @topCoverHeight: 400px
    );
}

.large-pages(@minWidth) when (@minWidth >= 1200) and (@minWidth < 1400) {  
    .large-page(
        @minWidth,
        @contentAreaWidth: 720px,
        @altContentAreaWidth: 360px,
        @mainPaneWidth: 66%,
        @topCoverHeight: 400px
    );
}

.large-pages(@minWidth) when (@minWidth < 1200) {  
    .large-page(
        @minWidth,
        @contentAreaWidth: 560px,
        @altContentAreaWidth: 300px,
        @mainPaneWidth: 66%,
        @topCoverHeight: 400px
    );
}


