.page-content-area(@contentAreaWidth, @maxWidth) {
    .content-area {
        width: @contentAreaWidth + 0px; max-width: @maxWidth; margin: auto; line-height: 1.6em;
        &.wide {
            width: 100%; max-width: 100%;
        }
        
        /* Item will occupy full content-area */
        &.item {
            &:after { content: ""; display:block; clear: both }            
            &.small { max-width: 480px; }
        }
    }
}

.spans-impl(@a, @b, @c) {
    /* Column spans */
    .half-span, .two-thirds-span, .one-thirds-span { 
        box-sizing: border-box; float: left; 
        &:after { content: ""; display:block; clear: both } 
    }

    .half-span { width: @a; }
    .two-thirds-span { width: @b; margin-right: (100% - (@b + @c)) }
    .one-thirds-span { width: @c; }
}

.spans(@width) when (@width >= 720) {  
    .spans-impl(50%, 60%, 34%);
}

.spans(@width) when (@width < 720) {  
    .spans-impl(100%, 100%, 100%);
}

/* Pages-Common */
.pages-common() {
    .main-pane, .alt-pane {
        margin-top: 20px; padding: 0 24px 64px 24px; box-sizing: border-box; -moz-box-sizing: border-box; 
        > .nav {            
            &:before { content: ">"; display:block; float: left;  margin-right: 12px; }
        }
    }
    
    .main-pane {
        &:first-child {
            > .nav:first-child { margin-left: 40px; }
        }
    }
    
    .auto-cover, .top-cover, .full-cover {
        .image {
            background-size: cover; background-position: 50% 50%; height: 100%;
            > .underlay { opacity: 0.5; }
            > .content-wrap { 
                h1 { margin-bottom: .3em }
            }
        }
        button {
            background: transparent; 
        }
    }

    .full-cover {
        height: 0; width: 100%; top: 0; left: 0;
        .content-wrap { 
            left: 32px; bottom: 20px; position: absolute; max-width: 500px;
        }
        &.fixed { position: fixed; z-index: -1; }       
    }

    .inline-cover { 
        margin: 64px auto 20px auto;
        img { width: 100% }
    }
    
    .full-cover.fixed + .main-pane, .inline-cover + .main-pane {
        .content-area:first-child {
            &.item {
                font-size: 0.9em; padding: 20px 32px 20px 24px; box-sizing: border-box; -moz-box-sizing: border-box; 
                &.small { max-width: 480px; }
            }            
        }
    }    
}

