.page-content-area(@contentAreaWidth, @maxContentAreaWidth) {
    .content-area {
        width: @contentAreaWidth; max-width: @maxContentAreaWidth; margin-left: auto; margin-left: right; line-height: 1.6em;
        &.wide {
            width: 100%; max-width: 100%;
        }
        
        /* Item will occupy full content-area */
        &.item {
            &:after { content: ""; display:block; clear: both }            
            &.small { max-width: 480px; }
        }
    }
}

.spans(@width) when (@width >= 480) {  
    .col-span { 
        box-sizing: border-box; margin-right: 16px;
        &.span1 { width: 200px; }
        &.span2 { width: 260px; }
        &.span3 { width: 340px; }
        
        &.height1 { height: 120px;  }
        &.height2 { height: 160px;  }
        &.height3 { height: 200px;  }
        &.height4 { height: 280px;  }
        &.height5 { height: 360px;  }                
    }
}

.spans(@width) when (@width < 480) {  
    .col-span { 
        box-sizing: border-box; margin-right: 16px;
        &.span1 { width: 140px; }
        &.span2 { width: 100%; }
        &.span3 { width: 100%; }

        &.height1 { height: 120px;  }
        &.height2 { height: 160px;  }
        &.height3 { height: 200px;  }
        &.height4 { height: 280px;  }
        &.height5 { height: 360px;  }                
    }
}


/* Pages-Common */
.pages-common() {
    .main-pane, .alt-pane {
        margin-top: 20px; padding: 0 24px 64px 24px; box-sizing: border-box; -moz-box-sizing: border-box; 
        > .nav {            
            &:before { content: ">"; display:block; float: left;  margin-right: 12px; }
        }
        > .content-area:first-child { margin-top: 64px }
    }
    
    .main-pane {
        &:first-child {
            > .nav:first-child { margin-left: 40px; }
        }
    }
    
    .auto-cover, .top-cover, .full-cover {
        .image {
            background-size: cover; background-position: 50% 50%; height: 100%;
            > .underlay { opacity: 0.5; }
            > .content-wrap { 
                h1 { margin-bottom: .3em }
            }
        }
        button {
            background: transparent; 
        }
    }

    .full-cover {
        height: 0; width: 100%; top: 0; left: 0;
        .content-wrap { 
            left: 32px; bottom: 20px; position: absolute; max-width: 500px;
        }
        &.fixed { position: fixed; z-index: -1; }       
    }

    .inline-cover { 
        margin: 64px auto 20px auto;
        img { width: 100% }
    }
    
    .top-cover + .main-pane, .inline-cover + .main-pane {
        > .content-area:first-child { margin-top: 0px }
    }
    
    .full-cover.fixed + .main-pane, .inline-cover + .main-pane {
        .content-area:first-child {
            &.item {
                font-size: 0.9em; padding: 20px 32px; box-sizing: border-box; -moz-box-sizing: border-box; 
                &.small { max-width: 480px; padding: 20px 32px 20px 24px; }
            }            
        }
    }    
}

