@import "theme-common";
@import "theme-html-tags";
@import "theme-controls";
@import "theme-cards";
@import "theme-pages";
@import "theme-fancy";

.make-theme(
    @name,
    @color-bright: #ccc,
    @color-x-bright: #eee,
    @color-xx-bright: #f6f6f6,
    @color-bright-neutral: #aaa,
    @color-neutral: #999,
    @color-dark-neutral: #888,
    @color-dark: #666,
    @color-x-dark: #444,
    @color-xx-dark: #333,
    @color-standout: yellow,
    @color-max-bright: white,
    @color-max-dark: black,
    @color-link: #446,
    @color-link-hover: #668,
    @color-positive: #060,
    @color-light-positive: #aca,
    @color-negative: #c00,
    @color-light-negative: #caa,
    @text-opacity: 0.9
) {
    .theme-common(
        @name,
        @color-bright,
        @color-x-bright,
        @color-xx-bright,
        @color-bright-neutral,
        @color-neutral,
        @color-dark-neutral,
        @color-dark,
        @color-x-dark,
        @color-xx-dark,
        @color-standout,
        @color-max-bright,
        @color-max-dark,
        @color-link,
        @color-link-hover,
        @color-positive,
        @color-light-positive,
        @color-negative,
        @color-light-negative,
        @text-opacity
    );

    .theme-html-tags(
        @name,
        @color-bright,
        @color-x-bright,
        @color-xx-bright,
        @color-bright-neutral,
        @color-neutral,
        @color-dark-neutral,
        @color-dark,
        @color-x-dark,
        @color-xx-dark,
        @color-standout,
        @color-max-bright,
        @color-max-dark,
        @color-link,
        @color-link-hover,
        @color-positive,
        @color-light-positive,
        @color-negative,
        @color-light-negative,
        @text-opacity
    );

    .theme-controls(
        @name,
        @color-bright,
        @color-x-bright,
        @color-xx-bright,
        @color-bright-neutral,
        @color-neutral,
        @color-dark-neutral,
        @color-dark,
        @color-x-dark,
        @color-xx-dark,
        @color-standout,
        @color-max-bright,
        @color-max-dark,
        @color-link,
        @color-link-hover,
        @color-positive,
        @color-light-positive,
        @color-negative,
        @color-light-negative,
        @text-opacity
    );

    .theme-cards(
        @name,
        @color-bright,
        @color-x-bright,
        @color-xx-bright,
        @color-bright-neutral,
        @color-neutral,
        @color-dark-neutral,
        @color-dark,
        @color-x-dark,
        @color-xx-dark,
        @color-standout,
        @color-max-bright,
        @color-max-dark,
        @color-link,
        @color-link-hover,
        @color-positive,
        @color-light-positive,
        @color-negative,
        @color-light-negative,
        @text-opacity
    );

    .theme-pages(
        @name,
        @color-bright,
        @color-x-bright,
        @color-xx-bright,
        @color-bright-neutral,
        @color-neutral,
        @color-dark-neutral,
        @color-dark,
        @color-x-dark,
        @color-xx-dark,
        @color-standout,
        @color-max-bright,
        @color-max-dark,
        @color-link,
        @color-link-hover,
        @color-positive,
        @color-light-positive,
        @color-negative,
        @color-light-negative,
        @text-opacity
    );

    .theme-fancy(
        @name,
        @color-bright,
        @color-x-bright,
        @color-xx-bright,
        @color-bright-neutral,
        @color-neutral,
        @color-dark-neutral,
        @color-dark,
        @color-x-dark,
        @color-xx-dark,
        @color-standout,
        @color-max-bright,
        @color-max-dark,
        @color-link,
        @color-link-hover,
        @color-positive,
        @color-light-positive,
        @color-negative,
        @color-light-negative,
        @text-opacity
    );

    /* MEDIA */
    @media (max-width: 479px) {
        .theme-pages-tiny(
            @name,
            @color-bright,
            @color-x-bright,
            @color-xx-bright,
            @color-bright-neutral,
            @color-neutral,
            @color-dark-neutral,
            @color-dark,
            @color-x-dark,
            @color-xx-dark,
            @color-standout,
            @color-max-bright,
            @color-max-dark,
            @color-link,
            @color-link-hover,
            @color-positive,
            @color-light-positive,
            @color-negative,
            @color-light-negative,
            @text-opacity
        );
    }
}


/*  COLOR GROUPS */
.color-groups (@c1: #970026, @c2: #006f48, @c3: #a63600, @c4: #399200) {
    &.cg1 { background-color: @c1 }
    &.cg2 { background-color: @c2 }
    &.cg3 { background-color: @c3 }
    &.cg4 { background-color: @c4 }
}

/* THEMES */
.themes() {
    .default-theme {
        .make-theme('default');
        .color-groups();
    }
}
