/* FONTS */
.fontBase {
  font-family: 'Open Sans', sans-serif;
}
.fontContent {
  font-family: 'PT Serif', serif;
}
.fontContentHeading {
  font-family: 'PT Serif', serif;
}
.fontAlt {
  font-family: 'Oswald', sans-serif;
}
/* COLORS */
/* BORDERS */
.rounded {
  border-radius: 2px;
}
/* TAGS */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  margin: 0;
}
em {
  font-style: italic;
  font-weight: normal;
}
strong {
  font-weight: bold;
}
/* LINKS */
a,
a:visited,
a:hover,
span.anchor,
span.anchor:hover {
  color: #483d8b;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
span.anchor:hover {
  text-decoration: underline;
  color: #9b92cf;
}
a:hover i {
  text-decoration: none;
}
a img {
  border: none;
}
/* FORM CONTROLS */
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 7px 4px;
  margin: 2px 0 2px 0;
}
input[type="checkbox"] {
  margin-right: 4px;
}
input[type="file"] {
  padding: 0;
  border: none;
}
label.alert-required {
  color: #660000;
}
label.alert-required:after {
  content: '*';
}
button {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #f6f6f6;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-radius: 2px;
  padding: 9px 14px 9px 14px;
  margin: 0 2px 0 0;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
button i {
  padding-right: 6px;
}
button.textless i {
  padding-right: 0;
}
button.positive,
.form button.positive {
  color: #ffffff;
  background-color: #006600;
  border: none;
  border-bottom: 1px solid #003300;
  border-right: 1px solid #003300;
}
button.negative,
.form button.negative {
  color: #ffffff;
  background-color: #660000;
  border: none;
  border-bottom: 1px solid #330000;
  border-right: 1px solid #330000;
}
/* LIST */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.light-text {
  color: #999999;
}
.action {
  font-size: 14px;
}
.action.positive {
  color: #006600;
}
.action.negative {
  color: #660000;
}
/* By default, scr-tiny is hidden and will be show only on tiny screens */
.scr-tiny {
  display: none;
}
.page-sections-mixin {
  /* HEADER and LOGO */

  /* NAVIGATION BARS */

}
.page-sections-mixin .header .logo {
  font-family: 'Oswald', sans-serif;
  padding: 6px 10px 6px 2px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  font-size: 20px;
  background: #ddd;
  color: white;
  float: left;
  text-transform: uppercase;
  position: absolute;
  top: 6px;
  left: 6px;
}
.page-sections-mixin .header .logo:hover {
  background: #333;
}
.page-sections-mixin .nav {
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999999;
}
@font Base;
.page-sections-mixin .nav li {
  float: left;
  padding-right: 12px;
  color: #999999;
}
.page-sections-mixin .nav li.selected {
  color: #333333;
}
.page-sections-mixin .nav li a {
  text-decoration: underline;
  color: #999999;
}
.page-sections-mixin .nav li a:hover {
  color: #333333;
}
.page-sections-mixin .nav li i {
  font-size: 14px;
  text-decoration: none;
}
.page-sections-mixin .nav.alt {
  float: right;
}
.page-sections-mixin .container {
  text-align: center;
  margin-top: 18px;
}
.page-sections-mixin .container .page-wrap {
  text-align: left;
  margin: auto;
}
.page-sections-mixin .container .columns-wrap {
  text-align: left;
  margin: auto;
}
.page-sections-mixin .content-area {
  font-family: 'PT Serif', serif;
  clear: both;
  margin-top: 20px;
}
.tiny-page-mixin {
  /* HEADER and LOGO */

  /* NAVIGATION BARS */

  /* PAGES */

}
.tiny-page-mixin .header .logo {
  font-family: 'Oswald', sans-serif;
  padding: 6px 10px 6px 2px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  font-size: 20px;
  background: #ddd;
  color: white;
  float: left;
  text-transform: uppercase;
  position: absolute;
  top: 6px;
  left: 6px;
}
.tiny-page-mixin .header .logo:hover {
  background: #333;
}
.tiny-page-mixin .nav {
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999999;
}
@font Base;
.tiny-page-mixin .nav li {
  float: left;
  padding-right: 12px;
  color: #999999;
}
.tiny-page-mixin .nav li.selected {
  color: #333333;
}
.tiny-page-mixin .nav li a {
  text-decoration: underline;
  color: #999999;
}
.tiny-page-mixin .nav li a:hover {
  color: #333333;
}
.tiny-page-mixin .nav li i {
  font-size: 14px;
  text-decoration: none;
}
.tiny-page-mixin .nav.alt {
  float: right;
}
.tiny-page-mixin .container {
  text-align: center;
  margin-top: 18px;
}
.tiny-page-mixin .container .page-wrap {
  text-align: left;
  margin: auto;
}
.tiny-page-mixin .container .columns-wrap {
  text-align: left;
  margin: auto;
}
.tiny-page-mixin .content-area {
  font-family: 'PT Serif', serif;
  clear: both;
  margin-top: 20px;
}
.tiny-page-mixin .cover-page .cover {
  background-size: cover;
  background-position: center;
  height: 240px;
}
.tiny-page-mixin .cover-page .container .columns-wrap {
  width: 100%;
}
/* .*-page-mixin (@minWidth, @colCount, @colWidth, @colSpacing) */
@media (min-width: 1760px) {
  /* HEADER and LOGO */
  .header .logo {
    font-family: 'Oswald', sans-serif;
    padding: 6px 10px 6px 2px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 20px;
    background: #ddd;
    color: white;
    float: left;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .header .logo:hover {
    background: #333;
  }
  /* NAVIGATION BARS */
  .nav {
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
  }
  @font Base;
  .nav li {
    float: left;
    padding-right: 12px;
    color: #999999;
  }
  .nav li.selected {
    color: #333333;
  }
  .nav li a {
    text-decoration: underline;
    color: #999999;
  }
  .nav li a:hover {
    color: #333333;
  }
  .nav li i {
    font-size: 14px;
    text-decoration: none;
  }
  .nav.alt {
    float: right;
  }
  .container {
    text-align: center;
    margin-top: 18px;
  }
  .container .page-wrap {
    text-align: left;
    margin: auto;
  }
  .container .columns-wrap {
    text-align: left;
    margin: auto;
  }
  .content-area {
    font-family: 'PT Serif', serif;
    clear: both;
    margin-top: 20px;
  }
  /* PAGES */
  .cover-page .cover {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    width: 396px;
  }
  .cover-page .container {
    margin-right: 396px;
  }
  .cover-page .container .columns-wrap {
    width: 1200px;
    padding: 0 0 0 20px;
  }
  /* POSTS */
  ul.cards {
    clear: both;
    float: left;
    margin: -32px 0 32px -20px;
  }
  ul.cards > li {
    float: left;
    overflow: hidden;
    margin: 32px 20px 0 20px;
    width: 360px;
    /* Alternate layout */
  
    /* wide column is only needed if width isn't in percetage. */
  
  }
  ul.cards > li.alt {
    background-color: #f6f6f6;
    width: 359px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  ul.cards > li.alt .overlay {
    margin-left: -12px;
  }
  ul.cards > li.alt .content-wrap {
    padding: 0 12px;
  }
  ul.cards > li .image {
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 12px;
  }
  ul.cards > li .content-wrap .content {
    margin-bottom: 8px;
    height: 360px;
    overflow: hidden;
    font-size: 16px;
  }
  ul.cards > li .content-wrap .overlay {
    position: absolute;
    height: 48px;
    margin-top: -56px;
    pointer-events: none;
    width: 360px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  
  }
  ul.cards > li .content-wrap .activity {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    padding-right: 4px;
  }
  ul.cards > li .content-wrap p.links {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
  }
  ul.cards > li .content-wrap p.links img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap p.links .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .content-wrap ul.links li {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    padding-bottom: 8px;
  }
  ul.cards > li .content-wrap ul.links li img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap ul.links li .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .image + .content-wrap .content {
    max-height: 188px;
  }
  ul.cards > li.alt .image {
    height: 100px;
  }
  ul.cards > li.alt .image + .content-wrap .content {
    max-height: 248px;
  }
  ul.cards > li h2 {
    margin: 0 0 8px 0;
    line-height: 1.1em;
    font-size: 22px;
  }
  ul.cards > li p {
    margin: 0 0 12px 0;
  }
  ul.cards > li.wide {
    width: 780px;
    height: 280px;
  }
  ul.cards > li.wide .image {
    width: 220px;
    height: 280px;
    margin-right: 20px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ul.cards > li.wide .content-wrap {
    float: left;
    height: 280px;
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .content {
    max-height: 200px;
  }
  ul.cards > li.wide .content-wrap .overlay {
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .source .text {
    width: 340;
  }
  ul.cards > li.wide h2 {
    font-size: 28px;
  }
}
@media (min-width: 1600px) and (max-width: 1759px) {
  /* HEADER and LOGO */
  .header .logo {
    font-family: 'Oswald', sans-serif;
    padding: 6px 10px 6px 2px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 20px;
    background: #ddd;
    color: white;
    float: left;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .header .logo:hover {
    background: #333;
  }
  /* NAVIGATION BARS */
  .nav {
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
  }
  @font Base;
  .nav li {
    float: left;
    padding-right: 12px;
    color: #999999;
  }
  .nav li.selected {
    color: #333333;
  }
  .nav li a {
    text-decoration: underline;
    color: #999999;
  }
  .nav li a:hover {
    color: #333333;
  }
  .nav li i {
    font-size: 14px;
    text-decoration: none;
  }
  .nav.alt {
    float: right;
  }
  .container {
    text-align: center;
    margin-top: 18px;
  }
  .container .page-wrap {
    text-align: left;
    margin: auto;
  }
  .container .columns-wrap {
    text-align: left;
    margin: auto;
  }
  .content-area {
    font-family: 'PT Serif', serif;
    clear: both;
    margin-top: 20px;
  }
  /* PAGES */
  .cover-page .cover {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    width: 360px;
  }
  .cover-page .container {
    margin-right: 360px;
  }
  .cover-page .container .columns-wrap {
    width: 1020px;
    padding: 0 0 0 20px;
  }
  /* POSTS */
  ul.cards {
    clear: both;
    float: left;
    margin: -32px 0 32px -20px;
  }
  ul.cards > li {
    float: left;
    overflow: hidden;
    margin: 32px 20px 0 20px;
    width: 300px;
    /* Alternate layout */
  
    /* wide column is only needed if width isn't in percetage. */
  
  }
  ul.cards > li.alt {
    background-color: #f6f6f6;
    width: 299px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  ul.cards > li.alt .overlay {
    margin-left: -12px;
  }
  ul.cards > li.alt .content-wrap {
    padding: 0 12px;
  }
  ul.cards > li .image {
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 12px;
  }
  ul.cards > li .content-wrap .content {
    margin-bottom: 8px;
    height: 360px;
    overflow: hidden;
    font-size: 14px;
  }
  ul.cards > li .content-wrap .overlay {
    position: absolute;
    height: 48px;
    margin-top: -56px;
    pointer-events: none;
    width: 300px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  
  }
  ul.cards > li .content-wrap .activity {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    padding-right: 4px;
  }
  ul.cards > li .content-wrap p.links {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
  }
  ul.cards > li .content-wrap p.links img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap p.links .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .content-wrap ul.links li {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    padding-bottom: 8px;
  }
  ul.cards > li .content-wrap ul.links li img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap ul.links li .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .image + .content-wrap .content {
    max-height: 188px;
  }
  ul.cards > li.alt .image {
    height: 100px;
  }
  ul.cards > li.alt .image + .content-wrap .content {
    max-height: 248px;
  }
  ul.cards > li h2 {
    margin: 0 0 8px 0;
    line-height: 1.1em;
    font-size: 22px;
  }
  ul.cards > li p {
    margin: 0 0 12px 0;
  }
  ul.cards > li.wide {
    width: 780px;
    height: 280px;
  }
  ul.cards > li.wide .image {
    width: 220px;
    height: 280px;
    margin-right: 20px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ul.cards > li.wide .content-wrap {
    float: left;
    height: 280px;
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .content {
    max-height: 200px;
  }
  ul.cards > li.wide .content-wrap .overlay {
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .source .text {
    width: 340;
  }
  ul.cards > li.wide h2 {
    font-size: 28px;
  }
}
@media (min-width: 1320px) and (max-width: 1599px) {
  /* HEADER and LOGO */
  .header .logo {
    font-family: 'Oswald', sans-serif;
    padding: 6px 10px 6px 2px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 20px;
    background: #ddd;
    color: white;
    float: left;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .header .logo:hover {
    background: #333;
  }
  /* NAVIGATION BARS */
  .nav {
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
  }
  @font Base;
  .nav li {
    float: left;
    padding-right: 12px;
    color: #999999;
  }
  .nav li.selected {
    color: #333333;
  }
  .nav li a {
    text-decoration: underline;
    color: #999999;
  }
  .nav li a:hover {
    color: #333333;
  }
  .nav li i {
    font-size: 14px;
    text-decoration: none;
  }
  .nav.alt {
    float: right;
  }
  .container {
    text-align: center;
    margin-top: 18px;
  }
  .container .page-wrap {
    text-align: left;
    margin: auto;
  }
  .container .columns-wrap {
    text-align: left;
    margin: auto;
  }
  .content-area {
    font-family: 'PT Serif', serif;
    clear: both;
    margin-top: 20px;
  }
  /* PAGES */
  .cover-page .cover {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    width: 297px;
  }
  .cover-page .container {
    margin-right: 297px;
  }
  .cover-page .container .columns-wrap {
    width: 936px;
    padding: 0 0 0 16px;
  }
  /* POSTS */
  ul.cards {
    clear: both;
    float: left;
    margin: -32px 0 32px -16px;
  }
  ul.cards > li {
    float: left;
    overflow: hidden;
    margin: 32px 16px 0 16px;
    width: 280px;
    /* Alternate layout */
  
    /* wide column is only needed if width isn't in percetage. */
  
  }
  ul.cards > li.alt {
    background-color: #f6f6f6;
    width: 279px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  ul.cards > li.alt .overlay {
    margin-left: -12px;
  }
  ul.cards > li.alt .content-wrap {
    padding: 0 12px;
  }
  ul.cards > li .image {
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 12px;
  }
  ul.cards > li .content-wrap .content {
    margin-bottom: 8px;
    height: 360px;
    overflow: hidden;
    font-size: 14px;
  }
  ul.cards > li .content-wrap .overlay {
    position: absolute;
    height: 48px;
    margin-top: -56px;
    pointer-events: none;
    width: 280px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  
  }
  ul.cards > li .content-wrap .activity {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    padding-right: 4px;
  }
  ul.cards > li .content-wrap p.links {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
  }
  ul.cards > li .content-wrap p.links img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap p.links .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .content-wrap ul.links li {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    padding-bottom: 8px;
  }
  ul.cards > li .content-wrap ul.links li img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap ul.links li .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .image + .content-wrap .content {
    max-height: 188px;
  }
  ul.cards > li.alt .image {
    height: 100px;
  }
  ul.cards > li.alt .image + .content-wrap .content {
    max-height: 248px;
  }
  ul.cards > li h2 {
    margin: 0 0 8px 0;
    line-height: 1.1em;
    font-size: 22px;
  }
  ul.cards > li p {
    margin: 0 0 12px 0;
  }
  ul.cards > li.wide {
    width: 780px;
    height: 280px;
  }
  ul.cards > li.wide .image {
    width: 220px;
    height: 280px;
    margin-right: 20px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ul.cards > li.wide .content-wrap {
    float: left;
    height: 280px;
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .content {
    max-height: 200px;
  }
  ul.cards > li.wide .content-wrap .overlay {
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .source .text {
    width: 340;
  }
  ul.cards > li.wide h2 {
    font-size: 28px;
  }
}
@media (min-width: 1200px) and (max-width: 1319px) {
  /* HEADER and LOGO */
  .header .logo {
    font-family: 'Oswald', sans-serif;
    padding: 6px 10px 6px 2px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 20px;
    background: #ddd;
    color: white;
    float: left;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .header .logo:hover {
    background: #333;
  }
  /* NAVIGATION BARS */
  .nav {
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
  }
  @font Base;
  .nav li {
    float: left;
    padding-right: 12px;
    color: #999999;
  }
  .nav li.selected {
    color: #333333;
  }
  .nav li a {
    text-decoration: underline;
    color: #999999;
  }
  .nav li a:hover {
    color: #333333;
  }
  .nav li i {
    font-size: 14px;
    text-decoration: none;
  }
  .nav.alt {
    float: right;
  }
  .container {
    text-align: center;
    margin-top: 18px;
  }
  .container .page-wrap {
    text-align: left;
    margin: auto;
  }
  .container .columns-wrap {
    text-align: left;
    margin: auto;
  }
  .content-area {
    font-family: 'PT Serif', serif;
    clear: both;
    margin-top: 20px;
  }
  /* PAGES */
  .cover-page .cover {
    background-size: cover;
    background-position: center;
    height: 320px;
  }
  .cover-page .container .columns-wrap {
    width: 1020px;
    padding: 0 0 0 20px;
  }
  /* POSTS */
  ul.cards {
    clear: both;
    float: left;
    margin: -32px 0 32px -20px;
  }
  ul.cards > li {
    float: left;
    overflow: hidden;
    margin: 32px 20px 0 20px;
    width: 300px;
    /* Alternate layout */
  
    /* wide column is only needed if width isn't in percetage. */
  
  }
  ul.cards > li.alt {
    background-color: #f6f6f6;
    width: 299px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  ul.cards > li.alt .overlay {
    margin-left: -12px;
  }
  ul.cards > li.alt .content-wrap {
    padding: 0 12px;
  }
  ul.cards > li .image {
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 12px;
  }
  ul.cards > li .content-wrap .content {
    margin-bottom: 8px;
    height: 360px;
    overflow: hidden;
    font-size: 14px;
  }
  ul.cards > li .content-wrap .overlay {
    position: absolute;
    height: 48px;
    margin-top: -56px;
    pointer-events: none;
    width: 300px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  
  }
  ul.cards > li .content-wrap .activity {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    padding-right: 4px;
  }
  ul.cards > li .content-wrap p.links {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
  }
  ul.cards > li .content-wrap p.links img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap p.links .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .content-wrap ul.links li {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    padding-bottom: 8px;
  }
  ul.cards > li .content-wrap ul.links li img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap ul.links li .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .image + .content-wrap .content {
    max-height: 188px;
  }
  ul.cards > li.alt .image {
    height: 100px;
  }
  ul.cards > li.alt .image + .content-wrap .content {
    max-height: 248px;
  }
  ul.cards > li h2 {
    margin: 0 0 8px 0;
    line-height: 1.1em;
    font-size: 22px;
  }
  ul.cards > li p {
    margin: 0 0 12px 0;
  }
  ul.cards > li.wide {
    width: 780px;
    height: 280px;
  }
  ul.cards > li.wide .image {
    width: 220px;
    height: 280px;
    margin-right: 20px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ul.cards > li.wide .content-wrap {
    float: left;
    height: 280px;
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .content {
    max-height: 200px;
  }
  ul.cards > li.wide .content-wrap .overlay {
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .source .text {
    width: 340;
  }
  ul.cards > li.wide h2 {
    font-size: 28px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  /* HEADER and LOGO */
  .header .logo {
    font-family: 'Oswald', sans-serif;
    padding: 6px 10px 6px 2px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 20px;
    background: #ddd;
    color: white;
    float: left;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .header .logo:hover {
    background: #333;
  }
  /* NAVIGATION BARS */
  .nav {
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
  }
  @font Base;
  .nav li {
    float: left;
    padding-right: 12px;
    color: #999999;
  }
  .nav li.selected {
    color: #333333;
  }
  .nav li a {
    text-decoration: underline;
    color: #999999;
  }
  .nav li a:hover {
    color: #333333;
  }
  .nav li i {
    font-size: 14px;
    text-decoration: none;
  }
  .nav.alt {
    float: right;
  }
  .container {
    text-align: center;
    margin-top: 18px;
  }
  .container .page-wrap {
    text-align: left;
    margin: auto;
  }
  .container .columns-wrap {
    text-align: left;
    margin: auto;
  }
  .content-area {
    font-family: 'PT Serif', serif;
    clear: both;
    margin-top: 20px;
  }
  /* PAGES */
  .cover-page .cover {
    background-size: cover;
    background-position: center;
    height: 320px;
  }
  .cover-page .container .columns-wrap {
    width: 972px;
    padding: 0 0 0 16px;
  }
  /* POSTS */
  ul.cards {
    clear: both;
    float: left;
    margin: -32px 0 32px -16px;
  }
  ul.cards > li {
    float: left;
    overflow: hidden;
    margin: 32px 16px 0 16px;
    width: 292px;
    /* Alternate layout */
  
    /* wide column is only needed if width isn't in percetage. */
  
  }
  ul.cards > li.alt {
    background-color: #f6f6f6;
    width: 291px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  ul.cards > li.alt .overlay {
    margin-left: -12px;
  }
  ul.cards > li.alt .content-wrap {
    padding: 0 12px;
  }
  ul.cards > li .image {
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 12px;
  }
  ul.cards > li .content-wrap .content {
    margin-bottom: 8px;
    height: 360px;
    overflow: hidden;
    font-size: 14px;
  }
  ul.cards > li .content-wrap .overlay {
    position: absolute;
    height: 48px;
    margin-top: -56px;
    pointer-events: none;
    width: 292px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  
  }
  ul.cards > li .content-wrap .activity {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    padding-right: 4px;
  }
  ul.cards > li .content-wrap p.links {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
  }
  ul.cards > li .content-wrap p.links img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap p.links .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .content-wrap ul.links li {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    padding-bottom: 8px;
  }
  ul.cards > li .content-wrap ul.links li img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap ul.links li .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .image + .content-wrap .content {
    max-height: 188px;
  }
  ul.cards > li.alt .image {
    height: 100px;
  }
  ul.cards > li.alt .image + .content-wrap .content {
    max-height: 248px;
  }
  ul.cards > li h2 {
    margin: 0 0 8px 0;
    line-height: 1.1em;
    font-size: 22px;
  }
  ul.cards > li p {
    margin: 0 0 12px 0;
  }
  ul.cards > li.wide {
    width: 780px;
    height: 280px;
  }
  ul.cards > li.wide .image {
    width: 220px;
    height: 280px;
    margin-right: 20px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ul.cards > li.wide .content-wrap {
    float: left;
    height: 280px;
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .content {
    max-height: 200px;
  }
  ul.cards > li.wide .content-wrap .overlay {
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .source .text {
    width: 340;
  }
  ul.cards > li.wide h2 {
    font-size: 28px;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* HEADER and LOGO */
  .header .logo {
    font-family: 'Oswald', sans-serif;
    padding: 6px 10px 6px 2px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 20px;
    background: #ddd;
    color: white;
    float: left;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .header .logo:hover {
    background: #333;
  }
  /* NAVIGATION BARS */
  .nav {
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
  }
  @font Base;
  .nav li {
    float: left;
    padding-right: 12px;
    color: #999999;
  }
  .nav li.selected {
    color: #333333;
  }
  .nav li a {
    text-decoration: underline;
    color: #999999;
  }
  .nav li a:hover {
    color: #333333;
  }
  .nav li i {
    font-size: 14px;
    text-decoration: none;
  }
  .nav.alt {
    float: right;
  }
  .container {
    text-align: center;
    margin-top: 18px;
  }
  .container .page-wrap {
    text-align: left;
    margin: auto;
  }
  .container .columns-wrap {
    text-align: left;
    margin: auto;
  }
  .content-area {
    font-family: 'PT Serif', serif;
    clear: both;
    margin-top: 20px;
  }
  /* PAGES */
  .cover-page .cover {
    background-size: cover;
    background-position: center;
    height: 320px;
  }
  .cover-page .container .columns-wrap {
    width: 936px;
    padding: 0 0 0 16px;
  }
  /* POSTS */
  ul.cards {
    clear: both;
    float: left;
    margin: -32px 0 32px -16px;
  }
  ul.cards > li {
    float: left;
    overflow: hidden;
    margin: 32px 16px 0 16px;
    width: 280px;
    /* Alternate layout */
  
    /* wide column is only needed if width isn't in percetage. */
  
  }
  ul.cards > li.alt {
    background-color: #f6f6f6;
    width: 279px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  ul.cards > li.alt .overlay {
    margin-left: -12px;
  }
  ul.cards > li.alt .content-wrap {
    padding: 0 12px;
  }
  ul.cards > li .image {
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 12px;
  }
  ul.cards > li .content-wrap .content {
    margin-bottom: 8px;
    height: 360px;
    overflow: hidden;
    font-size: 14px;
  }
  ul.cards > li .content-wrap .overlay {
    position: absolute;
    height: 48px;
    margin-top: -56px;
    pointer-events: none;
    width: 280px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  
  }
  ul.cards > li .content-wrap .activity {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    padding-right: 4px;
  }
  ul.cards > li .content-wrap p.links {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
  }
  ul.cards > li .content-wrap p.links img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap p.links .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .content-wrap ul.links li {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    padding-bottom: 8px;
  }
  ul.cards > li .content-wrap ul.links li img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap ul.links li .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .image + .content-wrap .content {
    max-height: 188px;
  }
  ul.cards > li.alt .image {
    height: 100px;
  }
  ul.cards > li.alt .image + .content-wrap .content {
    max-height: 248px;
  }
  ul.cards > li h2 {
    margin: 0 0 8px 0;
    line-height: 1.1em;
    font-size: 22px;
  }
  ul.cards > li p {
    margin: 0 0 12px 0;
  }
  ul.cards > li.wide {
    width: 780px;
    height: 280px;
  }
  ul.cards > li.wide .image {
    width: 220px;
    height: 280px;
    margin-right: 20px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ul.cards > li.wide .content-wrap {
    float: left;
    height: 280px;
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .content {
    max-height: 200px;
  }
  ul.cards > li.wide .content-wrap .overlay {
    width: 500px;
  }
  ul.cards > li.wide .content-wrap .source .text {
    width: 340;
  }
  ul.cards > li.wide h2 {
    font-size: 28px;
  }
}
@media (min-width: 720px) and (max-width: 959px) {
  /* HEADER and LOGO */
  .header .logo {
    font-family: 'Oswald', sans-serif;
    padding: 6px 10px 6px 2px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 20px;
    background: #ddd;
    color: white;
    float: left;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .header .logo:hover {
    background: #333;
  }
  /* NAVIGATION BARS */
  .nav {
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
  }
  @font Base;
  .nav li {
    float: left;
    padding-right: 12px;
    color: #999999;
  }
  .nav li.selected {
    color: #333333;
  }
  .nav li a {
    text-decoration: underline;
    color: #999999;
  }
  .nav li a:hover {
    color: #333333;
  }
  .nav li i {
    font-size: 14px;
    text-decoration: none;
  }
  .nav.alt {
    float: right;
  }
  .container {
    text-align: center;
    margin-top: 18px;
  }
  .container .page-wrap {
    text-align: left;
    margin: auto;
  }
  .container .columns-wrap {
    text-align: left;
    margin: auto;
  }
  .content-area {
    font-family: 'PT Serif', serif;
    clear: both;
    margin-top: 20px;
  }
  /* PAGES */
  .cover-page .cover {
    background-size: cover;
    background-position: center;
    height: 320px;
  }
  .cover-page .container .columns-wrap {
    width: 664px;
    padding: 0 0 0 16px;
  }
  /* POSTS */
  ul.cards {
    clear: both;
    float: left;
    margin: -32px 0 32px -16px;
  }
  ul.cards > li {
    float: left;
    overflow: hidden;
    margin: 32px 16px 0 16px;
    width: 300px;
    /* Alternate layout */
  
    /* wide column is only needed if width isn't in percetage. */
  
  }
  ul.cards > li.alt {
    background-color: #f6f6f6;
    width: 299px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  ul.cards > li.alt .overlay {
    margin-left: -12px;
  }
  ul.cards > li.alt .content-wrap {
    padding: 0 12px;
  }
  ul.cards > li .image {
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 12px;
  }
  ul.cards > li .content-wrap .content {
    margin-bottom: 8px;
    height: 360px;
    overflow: hidden;
    font-size: 14px;
  }
  ul.cards > li .content-wrap .overlay {
    position: absolute;
    height: 48px;
    margin-top: -56px;
    pointer-events: none;
    width: 300px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  
  }
  ul.cards > li .content-wrap .activity {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    padding-right: 4px;
  }
  ul.cards > li .content-wrap p.links {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
  }
  ul.cards > li .content-wrap p.links img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap p.links .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .content-wrap ul.links li {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    padding-bottom: 8px;
  }
  ul.cards > li .content-wrap ul.links li img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap ul.links li .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .image + .content-wrap .content {
    max-height: 188px;
  }
  ul.cards > li.alt .image {
    height: 100px;
  }
  ul.cards > li.alt .image + .content-wrap .content {
    max-height: 248px;
  }
  ul.cards > li h2 {
    margin: 0 0 8px 0;
    line-height: 1.1em;
    font-size: 22px;
  }
  ul.cards > li p {
    margin: 0 0 12px 0;
  }
  ul.cards > li.wide {
    width: 660px;
    height: 280px;
  }
  ul.cards > li.wide .image {
    width: 220px;
    height: 280px;
    margin-right: 20px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ul.cards > li.wide .content-wrap {
    float: left;
    height: 280px;
    width: 380px;
  }
  ul.cards > li.wide .content-wrap .content {
    max-height: 200px;
  }
  ul.cards > li.wide .content-wrap .overlay {
    width: 380px;
  }
  ul.cards > li.wide .content-wrap .source .text {
    width: 220;
  }
  ul.cards > li.wide h2 {
    font-size: 28px;
  }
}
@media (max-width: 719px) {
  /* HEADER and LOGO */
  .header .logo {
    font-family: 'Oswald', sans-serif;
    padding: 6px 10px 6px 2px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    font-size: 20px;
    background: #ddd;
    color: white;
    float: left;
    text-transform: uppercase;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .header .logo:hover {
    background: #333;
  }
  /* NAVIGATION BARS */
  .nav {
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
  }
  @font Base;
  .nav li {
    float: left;
    padding-right: 12px;
    color: #999999;
  }
  .nav li.selected {
    color: #333333;
  }
  .nav li a {
    text-decoration: underline;
    color: #999999;
  }
  .nav li a:hover {
    color: #333333;
  }
  .nav li i {
    font-size: 14px;
    text-decoration: none;
  }
  .nav.alt {
    float: right;
  }
  .container {
    text-align: center;
    margin-top: 18px;
  }
  .container .page-wrap {
    text-align: left;
    margin: auto;
  }
  .container .columns-wrap {
    text-align: left;
    margin: auto;
  }
  .content-area {
    font-family: 'PT Serif', serif;
    clear: both;
    margin-top: 20px;
  }
  /* PAGES */
  .cover-page .cover {
    background-size: cover;
    background-position: center;
    height: 240px;
  }
  .cover-page .container .columns-wrap {
    width: 100%;
  }
  /* POSTS */
  ul.cards {
    clear: both;
    float: left;
    margin: -32px 0 32px -16px;
  }
  ul.cards > li {
    float: left;
    overflow: hidden;
    /* Alternate layout */
  
    /* wide column is only needed if width isn't in percetage. */
  
  }
  ul.cards > li .item-wrap {
    padding: 0 32px;
  }
  ul.cards > li.alt {
    background-color: #f6f6f6;
    width: 99%;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }
  ul.cards > li.alt .overlay {
    margin-left: -12px;
  }
  ul.cards > li.alt .content-wrap {
    padding: 0 12px;
  }
  ul.cards > li .image {
    height: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 12px;
  }
  ul.cards > li .content-wrap .content {
    margin-bottom: 8px;
    height: 360px;
    overflow: hidden;
    font-size: 14px;
  }
  ul.cards > li .content-wrap .overlay {
    position: absolute;
    height: 48px;
    margin-top: -56px;
    pointer-events: none;
    width: 100%;
    left: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
  
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* Opera 11.10+ */
  
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* IE10+ */
  
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
  
  }
  ul.cards > li .content-wrap .activity {
    font-family: 'Open Sans', sans-serif;
    float: right;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3em;
    padding-right: 4px;
  }
  ul.cards > li .content-wrap p.links {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
  }
  ul.cards > li .content-wrap p.links img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap p.links .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .content-wrap ul.links li {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    padding-bottom: 8px;
  }
  ul.cards > li .content-wrap ul.links li img {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 4px 0 0;
  }
  ul.cards > li .content-wrap ul.links li .text {
    display: block;
    margin-left: 40px;
  }
  ul.cards > li .image + .content-wrap .content {
    max-height: 188px;
  }
  ul.cards > li.alt .image {
    height: 100px;
  }
  ul.cards > li.alt .image + .content-wrap .content {
    max-height: 248px;
  }
  ul.cards > li h2 {
    margin: 0 0 8px 0;
    line-height: 1.1em;
    font-size: 22px;
  }
  ul.cards > li p {
    margin: 0 0 12px 0;
  }
}
/* HOME */
