/* FONTS */
.fontBase {
  font-family: 'Open Sans', sans-serif;
}
.fontContent {
  font-family: 'PT Serif', serif;
}
.fontContentHeading {
  font-family: 'PT Serif', serif;
}
.fontAlt {
  font-family: 'Oswald', sans-serif;
}
/* COLORS */
/* BORDERS */
.rounded {
  border-radius: 2px;
}
/* TAGS */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  margin: 0;
}
em {
  font-style: italic;
  font-weight: normal;
}
strong {
  font-weight: bold;
}
/* LINKS */
a,
a:visited,
a:hover,
span.anchor,
span.anchor:hover {
  color: #000033;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
span.anchor:hover {
  text-decoration: underline;
  color: #0000cc;
}
a:hover i {
  text-decoration: none;
}
a img {
  border: none;
}
/* FORM CONTROLS */
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 7px 4px;
  margin: 2px 0 2px 0;
}
input[type="checkbox"] {
  margin-right: 4px;
}
input[type="file"] {
  padding: 0;
  border: none;
}
label.alert-required {
  color: #660000;
}
label.alert-required:after {
  content: '*';
}
button {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #f3f3f3;
  border: none;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-radius: 2px;
  padding: 9px 14px 9px 14px;
  margin: 0 2px 0 0;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
button i {
  padding-right: 6px;
}
button.textless i {
  padding-right: 0;
}
button.positive,
.form button.positive {
  color: #ffffff;
  background-color: #006600;
  border: none;
  border-bottom: 1px solid #003300;
  border-right: 1px solid #003300;
}
button.negative,
.form button.negative {
  color: #ffffff;
  background-color: #660000;
  border: none;
  border-bottom: 1px solid #330000;
  border-right: 1px solid #330000;
}
.action {
  font-size: 14px;
}
.action.positive {
  color: #006600;
}
.action.negative {
  color: #660000;
}
/* LIST */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/* By default, scr-tiny is hidden and will be show only on tiny screens */
.scr-tiny {
  display: none;
}
/* HEADER and LOGO */
.header .logo {
  font-family: 'Oswald', sans-serif;
  padding: 6px 10px 6px 2px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  font-size: 20px;
  background: #ddd;
  color: white;
  float: left;
  text-transform: uppercase;
  position: absolute;
  top: 16px;
  left: 16px;
}
.header .logo:hover {
  background: #333;
}
/* PAGES */
@media screen and (max-width: 639px) {
  
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  
}
@media screen and (min-width: 1280px) and (max-width: 1719px) {
  
}
@media screen and (min-width: 1720px) {
  .cover-page .cover {
    width: 400px;
    height: 100%;
  }
  .cover-page .container {
    margin: 72px 400px 48px 0;
  }
  .fixed-width-content {
    width: 720px;
    padding: 20px;
  }
}
.cover-page .cover {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 0;
  background-position: center;
  background-size: cover;
}
.std-page .cover {
  display: none;
}
/* CONTENT AREAS */
.fixed-width-content {
  margin: auto;
}
full-width-content {
  width: 100%;
}
/* HOME */
.welcome-page ul.sections {
  font-family: 'PT Serif', serif;
  background: white;
  height: 1000px;
  opacity: 0.8;
}
.welcome-page ul.sections h1 {
  font-size: 52px;
  margin: 0 0 12px 0;
  color: #008000;
}
.welcome-page ul.sections h2 {
  font-size: 32px;
  margin: 0 0 8px 0;
}
.welcome-page ul.sections p {
  font-size: 20px;
  margin: 0 0 24px 0;
}
.cover-pic {
  width: 100%;
  position: absolute;
  left: 0;
  background: #333333;
  background-size: 100%;
  background-repeat: no-repeat;
}
.cover-pic .icon {
  border: 3px solid #eeeeee;
  border-radius: 100%;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
}
.cover-pic h1 {
  width: 400px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  font-family: 'PT Serif', serif;
}
.cover-pic p {
  width: 400px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  font-family: 'PT Serif', serif;
}
.cover-pic .edit {
  font-weight: normal;
  font-size: 11px;
  padding: 0px 4px 2px 4px;
  background: #eeeeee;
  border-radius: 2px;
  text-decoration: none;
  text-shadow: none;
  color: #000000;
  opacity: 0.5;
  position: absolute;
  margin-left: 6px;
  cursor: pointer;
}
.cover-pic .edit:hover {
  opacity: 1;
}
.cover-pic .options {
  font-weight: bold;
  font-size: 12px;
  margin-top: 8px;
}
.cover-pic .options a {
  color: #ffffff;
}
.brand-alt,
.account-options {
  opacity: 0.3;
}
.brand-alt:hover,
.account-options:hover {
  opacity: 1;
}
/* NAVIGATION BAR */
.nav {
  float: left;
  clear: both;
  font-size: 12px;
  font-weight: bold;
  height: 34px;
  margin: 12px 12px 4px 0;
  color: #333333;
  background: #f3f3f3;
}
.nav a {
  display: block;
  min-width: 72px;
  max-width: 120px;
  color: #666;
  padding: 9px 0;
}
.nav a:hover {
  color: #000000;
}
.nav li {
  padding: 0 12px;
  float: left;
  margin: 0;
  min-width: 72px;
  max-width: 120px;
  text-align: center;
}
.nav li.text {
  padding: 9px 12px;
  color: #ffffff;
}
.nav li.small {
  min-width: 0;
  padding: 0 4px;
  width: 32px;
}
.nav li.small a {
  min-width: 0;
  width: 32px;
}
.nav li.small a i {
  font-size: 16px;
}
.nav li.active {
  background: #999999;
}
.nav li.active a {
  color: #ffffff;
}
.nav li.section-name {
  width: 200px;
  text-align: left;
  padding: 9px 0 7px 12px;
  text-transform: uppercase;
}
.nav li:hover {
  background: #333333;
  color: #eeeeee;
}
.nav li:hover a {
  color: #ffffff;
}
/* PAGE OPTIONS */.page-options {
  float: right;
  margin: -38px 20px 0 0;
}
.page-options li {
  padding: 0;
  float: right;
}
.page-options li.link {
  font-size: 12px;
  margin-top: 9px;
  font-weight: bold;
  color: #666;
}
.page-options li.link a {
  color: #666;
  padding: 9px 16px 9px 16px;
}
.page-options li.link a:hover {
  background: #f6f6f6;
  color: #000000;
}
.page-options li button.positive {
  background: #f6f6f6;
  color: green;
  border-right: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  border-radius: 0;
}
.page-options li button.positive:hover {
  background: #eee;
  color: #008000;
}
.std-page .page-options {
  margin-right: 8px;
}
.page-content {
  clear: both;
  margin: 4px auto 32px auto;
}
/* COLLECTIONS */
ul.collections {
  margin: 0 auto;
  padding: 0;
}
ul.collections > li {
  height: 300px;
  width: 350px;
  min-width: 350px;
  padding: 0;
  margin: 10px 19px 10px 0;
  float: left;
  background: #f3f3f3;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
}
ul.collections > li:hover {
  background: #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}
/* COLLECTION ITEMS */
ul.collection-items {
  margin: 0 auto;
  padding: 0;
}
ul.collection-items > li {
  height: 396px;
  width: 326px;
  min-width: 326px;
  padding: 12px;
  margin: 10px 19px 10px 0;
  float: left;
  background: #f3f3f3;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-radius: 3px;
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
ul.collection-items > li:hover {
  background: #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}
ul.collection-items > li .source {
  border-top: 1px solid #ddd;
  margin: 8px 0 0 0;
  padding: 10px 0 0 0;
  font-size: 12px;
}
ul.collection-items > li .source img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  float: left;
  margin-top: -3px;
}
ul.collection-items > li .source .collection {
  font-weight: bold;
}
ul.collection-items > li.message {
  background: #ffffff;
  color: #999;
  cursor: pointer;
}
ul.collection-items > li.message p {
  font-size: 24px;
  padding-top: 152px;
  text-align: center;
}
ul.collection-items > li.message p i {
  font-size: 48px;
}
/* TIMELINE */
ul.timeline.messages li {
  clear: both;
  padding: 12px;
  font-size: 12px;
}
ul.timeline.messages li .profile-pic {
  float: left;
  display: block;
  border-radius: 100%;
  border: 3px solid #ffffff;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 6px;
}
ul.timeline.messages li p {
  float: left;
  margin-top: 8px;
  color: gray;
}
ul.timeline.messages li p .when {
  font-style: italic;
}
@media (min-width: 1430px) {
  .container.std-page {
    width: 1480px;
  }
  .container.std-page .nav {
    width: 1460px;
  }
  .cover-page .cover-pic {
    height: 320px;
  }
  .cover-page .nav {
    margin-top: 340px;
  }
}
@media (min-width: 1070px) and (max-width: 400px) {
  .container.std-page {
    width: 1110px;
  }
  .container.std-page .nav {
    width: 1090px;
  }
  .cover-page .cover-pic {
    height: 320px;
  }
  .cover-page .nav {
    margin-top: 340px;
  }
}
@media screen and (min-width: 1070px) {
  .brand-alt {
    position: absolute;
    left: 16px;
    top: 12px;
  }
  .brand-alt img {
    width: 48px;
    height: 48px;
  }
  .account-options {
    position: absolute;
    left: 16px;
    top: 65px;
  }
  .account-options img {
    width: 48px;
  }
  .cover-page .cover-pic h1 {
    font-size: 22px;
  }
  .cover-page .cover-pic .description {
    font-size: 14px;
  }
}
@media screen and (min-width: 1150px) and (max-width: 1299px) {
  .container.std-page {
    width: 1110px;
  }
  .container.std-page .nav {
    width: 1090px;
  }
  .cover-page .cover-pic {
    height: 320px;
  }
  .cover-page .nav {
    margin-top: 340px;
  }
}
@media screen and (min-width: 1150px) {
  .cover-page .cover-pic .icon {
    height: 96px;
    width: 96px;
    margin: 64px auto 4px auto;
  }
}
@media screen and (min-width: 1150px) {
  .container.std-page {
    width: 940px;
  }
  .container.std-page .nav {
    width: 940px;
  }
}
@media screen and (max-width: 1299px) {
  /* Move the icons to the top */
  .mainbar {
    height: 56px;
    border-bottom: 1px solid #eee;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
  }
  .brand-alt {
    position: absolute;
    float: left;
    left: 12px;
    top: 0;
    width: 40px;
    margin: 8px 0 0 0;
  }
  .brand-alt img {
    height: 40px;
    width: 40px;
  }
  .account-options {
    position: absolute;
    float: left;
    left: 52px;
    top: 0;
    width: 40px;
    margin: 8px 0 0 4px;
  }
  .account-options img {
    width: 40px;
    height: 40px;
  }
  .account-options a.login-link {
    margin-left: 8px;
  }
  .account-options ul {
    width: 200px;
  }
  .account-options li {
    float: left;
    margin-right: 4px;
  }
  .cover-page .cover-pic h1 {
    font-size: 20px;
  }
  .cover-page .cover-pic .description {
    font-size: 12px;
  }
  .cover-page .mainbar {
    border: none;
  }
  ul.nav {
    margin-top: 68px;
  }
  .signin-options {
    margin-left: 12px;
  }
}
@media screen and (min-width: 760px) and (max-width: 1149px) {
  .container.std-page {
    width: 740px;
  }
  .container.std-page .nav {
    width: 720px;
  }
  .container.std-page {
    width: 740px;
  }
  .container.std-page .nav {
    width: 740px;
  }
  .cover-page .cover-pic {
    height: 268px;
  }
  .cover-page .cover-pic .icon {
    height: 80px;
    width: 80px;
    margin: 48px auto 4px auto;
  }
  .cover-page .nav {
    margin-top: 288px;
  }
}
@media screen and (max-width: 759px) {
  .scr-normal {
    display: none;
  }
  .scr-tiny {
    display: block;
  }
  .container.std-page.unminimizable {
    width: 460px;
  }
  .container.std-page.unminimizable .nav {
    width: 460px;
  }
  .page-options {
    margin-right: 0 ;
    margin-top: -82px;
  }
  .cover-page .cover-pic {
    height: 240px;
  }
  .cover-page .cover-pic .icon {
    height: 80px;
    width: 80px;
    margin: 32px auto 4px auto;
  }
  .nav {
    margin-top: 48px;
  }
  .cover-page .nav {
    margin-top: 296px;
  }
  h1.text-page-heading {
    margin-left: 12px;
  }
  ul.timeline.messages {
    margin-left: 12px;
  }
  ul.timeline.messages li p {
    width: 250px;
    margin-top: 2px;
  }
}
@media screen and (min-width: 460px) and (max-width: 759px) {
  .container.std-page {
    width: 460px;
  }
  .container.std-page .nav {
    width: 460px;
  }
  .container.std-page {
    width: 460px;
  }
  .container.std-page .nav {
    width: 460px;
  }
}
@media screen and (max-width: 459px) {
  .container.std-page {
    width: 350px;
  }
  .container.std-page .nav {
    width: 350px;
  }
  .container.std-page {
    width: 350px;
  }
  .container.std-page .nav {
    width: 350px;
  }
}
h2.user-name {
  margin-top: 12px;
  font-size: 20px;
}
h2.user-name img {
  float: left;
  width: 32px;
  margin-right: 8px;
}
h1.text-page-heading {
  margin: 12px 0 4px 0;
  font-size: 28px;
  font-family: 'PT Serif', serif;
}
.signin-options {
  font-size: 12px;
}
.signin-options i {
  margin-right: 3px;
  color: #808080;
}
.signin-options a {
  color: gray;
}
.signin-options a:hover {
  color: #000000;
}
/* EDIT COLLECTION PAGE */
.create-collection-page .collection-icon-preview p {
  float: left;
  margin: 0 4px 0 0;
  height: 80px;
  width: 80px;
  background-size: 80px;
  border-radius: 100%;
  border: 3px solid #aaa;
}
.create-collection-page .collection-icon-preview a.reset {
  float: left;
  margin: 0 0 0 8px;
}
.create-collection-page .cover-pic-preview p {
  float: left;
  margin: 0 4px 0 0;
  height: 100px;
  width: 320px;
  background-size: 320px;
  border: 3px solid #aaa;
}
.create-collection-page .cover-pic-preview a.reset {
  float: left;
  margin: 0 0 0 8px;
}
/* EDIT USER PAGE */
.edit-user-page h2.user-name {
  margin: 12px 0 22px 0;
}
.edit-user-page h2.user-name img {
  border: 3px solid #ccc;
  border-radius: 100%;
}
/* POST SETTINGS PAGE */
.post-options-page .parent-collections {
  margin-bottom: 12px;
}
.post-options-page .parent-collections li {
  clear: both;
}
.post-options-page .parent-collections li div.image {
  height: 48px;
  width: 48px;
  margin: 4px 0 8px 12px;
  border: 3px solid #eee;
  border-radius: 100%;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  box-shadow: 2px 1px 2px #ccc;
  float: left;
}
.post-options-page .parent-collections li p {
  float: left;
  margin: 12px 0 0 12px;
  font-weight: bold;
}
.post-options-page .parent-collections li p .options {
  font-size: 12px;
  color: gray;
  font-weight: normal;
}
.post-options-page .add-to-collection {
  padding-top: 20px;
}
.post-options-page .add-to-collection p {
  font-size: 12px;
  color: #808080;
}
.post-options-page .add-to-collection p input {
  color: #000000;
}
.post-options-page .add-to-collection p button {
  color: #008000;
}
.post-options-page .delete-post {
  margin-top: 24px;
  padding: 12px 0;
  border-top: 1px solid #cccccc;
}
.post-options-page .delete-post .delete-text {
  font-size: 12px;
}
.post-options-page .delete-post .delete-text a {
  color: #660000;
}
/* Bang JS! */
.bangjs-editor-toolbar {
  font-family: 'PT Serif', serif;
}
.bangjs-editable .image-upload-box {
  font-family: 'Open Sans', sans-serif;
}
/*
    The two column layout called 'Egypt'
*/
/* Sidebar */
/* Content Section */
.egypt-2-col > .content {
  float: left;
  margin-top: 16px;
  margin-right: 40px;
}
@media screen and (min-width: 1000px) {
  .egypt-2-col {
    width: 940px;
  }
  .egypt-2-col > .content {
    width: 640px;
    margin-bottom: 120px;
  }
  .egypt-2-col .sidebar {
    float: left;
    font-size: 14px;
    margin-top: 92px;
    width: 240px;
  }
}
@media screen and (min-width: 760px) and (max-width: 999px) {
  .egypt-2-col {
    width: 640px;
  }
  .egypt-2-col > .content {
    width: 640px;
  }
  .egypt-2-col .sidebar {
    float: left;
    font-size: 14px;
    margin-top: 12px;
    width: 640px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 460px) and (max-width: 759px) {
  .egypt-2-col {
    width: 440px;
  }
  .egypt-2-col > .content {
    width: 440px;
  }
  .egypt-2-col .sidebar {
    float: left;
    font-size: 14px;
    margin-top: 12px;
    width: 440px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 459px) {
  .egypt-2-col {
    width: 350px;
  }
  .egypt-2-col > .content {
    width: 350px;
  }
  .egypt-2-col .sidebar {
    float: left;
    font-size: 14px;
    margin-top: 12px;
    width: 350px;
    margin-bottom: 80px;
  }
}
