@import "base.less";

.light-text { color: @colorNeutral }

.action { font-size: @fontSize; }
    .action.positive { color: @colorPositive }
    .action.negative { color: @colorNegative }


/* By default, scr-tiny is hidden and will be show only on tiny screens */
.scr-tiny { display: none }


/* HEADER and LOGO */
.header {
    .logo {
        .fontAlt; padding: 6px 10px 6px 2px; cursor: pointer; height: 32px; width: 32px; font-size: 20px; background: #ddd; color: white; float: left; 
        text-transform: uppercase; position: absolute; top: 6px; left: 6px; 
        &:hover { background: #333; }
    }    
}

/* NAVIGATION BARS */
.nav { 
    @fontBase; font-size: @fontSizeSmall; font-weight: bold; text-transform: uppercase; color: @colorNeutral;
    li { 
        float: left; padding-right: 12px; 
        &.selected { color: @colorDark }
        a { 
            color: @colorNeutral; text-decoration: underline;
            &:hover { color: @colorDark }
        }
    }
}


.container { 
    text-align: center; margin-top: 18px;
    .page-wrap { 
        text-align: left; margin: auto;
    }
}

/* PAGES */
.std-page {
}

.cover-page {
    .cover { height: 100%; position: fixed; top:0; right: 0; background-size: cover; background-position: center }
    @media (min-width: 1780px) {
        .cover { width: 420px }
        .container { 
            margin-right: 420px;
            .page-wrap { 
                width: 1200px;
            }
        }
    }

    @media (min-width: 1600px) and (max-width: 1779px) {
        .cover { width: 360px }
        .container { 
            margin-right: 360px;
            .page-wrap { 
                width: 1020px;
            }
        }
    }

}

/* COLUMNS */
/*
.container(@wmax, @rmargin) {
    @width: @wmax - @rmargin - 100;
    @colWidth: 300;
    @colSpacing: 20;
    @numCols: floor((@width + @colSpacing)/(@colWidth + @colSpacing), 0);
    @margins: floor(floor(@width - ((@numCols * @colWidth) + ((@numCols - 1) * @colSpacing)))/2);
    margin-left: @margins + 0px;
    margin-right: @margins + @rmargin + 0px;
}
*/

/* POSTS */
ul.posts {    
    .fontContent; clear: both; padding: 24px 0 0 0; 

    li {
        float: left; height: 400px; padding-bottom: 20px; overflow: hidden; margin-right: 40px;    
        .image { height: 160px; background-size: cover; background-position: center; background-repeat: no-repeat }
        .content-wrap { 
            height: 400px; 
            .content { 
                max-height: 340px; overflow: hidden; margin-bottom: 8px; 
            }
            .overlay {
                position:absolute; height: 48px; margin-top: -56px;
                background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

            }
            .source {
                font-size: 14px; margin-top: -8px;
                img { float: left; width:32px; height: 32px; border-radius: 100%; margin: 4px 4px 0 0 }
                .text { float: left; }
                .activity { .fontBase; float: left; margin-left: 12px; color: @colorNeutral; font-size: 12px;  font-weight: bold; padding-top: 4px; }
            }                
        }
        
        .image + .content-wrap .content { max-height: 168px }
        
        @media (min-width: 1780px) { 
            width: 360px; 
            .image { width: 100%; margin-bottom: 12px; }
            .content-wrap { 
                .content { font-size: 16px; }
                .overlay { width: 360px }
                .source {
                    .text { width: 220px }
                }
            }
            h2 { font-size: 22px; }
        }
        
        @media (min-width: 1600px) and (max-width: 1779px) { 
            width: 300px; 
            .image { width: 100%; margin-bottom: 12px; }
            .content-wrap { 
                .content { font-size: 14px; }
                .overlay { width: 300px }
                .source {
                    .text { width: 160px }
                }
            }
            h2 { font-size: 22px; }
        }
        
        &.wide {            
            width: 100%; height: 280px;
            .image { width: 220px; height: 280px; margin-right: 20px; float: left; background-size: cover; background-position: 0 8px; background-repeat: no-repeat }
            .content-wrap { 
                float: left; margin-right: 20px; height: 280px; width: 500px; 
                .content { max-height: 200px; }
                .overlay { width: 500px }
                .text { width: 360px }
            }
            h2 { font-size: 28px; }
        }
        
        h2 { margin: 0 0 8px 0; line-height: 1.1em }
        p { margin: 0 0 12px 0 }
    }
}

/* HOME */

