/* FONTS */
.fontBase {
  font-family: 'Open Sans', sans-serif;
}
.fontContent {
  font-family: 'PT Serif', serif;
}
.fontContentHeading {
  font-family: 'PT Serif', serif;
}
.fontAlt {
  font-family: 'Oswald', sans-serif;
}
/* COLORS */
/* BORDERS */
.rounded {
  border-radius: 2px;
}
/* TAGS */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  margin: 0;
}
em {
  font-style: italic;
  font-weight: normal;
}
strong {
  font-weight: bold;
}
/* LINKS */
a,
a:visited,
a:hover,
span.anchor,
span.anchor:hover {
  color: #483d8b;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
span.anchor:hover {
  text-decoration: underline;
  color: #9b92cf;
}
a:hover i {
  text-decoration: none;
}
a img {
  border: none;
}
/* FORM CONTROLS */
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 7px 4px;
  margin: 2px 0 2px 0;
}
input[type="checkbox"] {
  margin-right: 4px;
}
input[type="file"] {
  padding: 0;
  border: none;
}
label.alert-required {
  color: #660000;
}
label.alert-required:after {
  content: '*';
}
button {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #f3f3f3;
  border: none;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-radius: 2px;
  padding: 9px 14px 9px 14px;
  margin: 0 2px 0 0;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
button i {
  padding-right: 6px;
}
button.textless i {
  padding-right: 0;
}
button.positive,
.form button.positive {
  color: #ffffff;
  background-color: #006600;
  border: none;
  border-bottom: 1px solid #003300;
  border-right: 1px solid #003300;
}
button.negative,
.form button.negative {
  color: #ffffff;
  background-color: #660000;
  border: none;
  border-bottom: 1px solid #330000;
  border-right: 1px solid #330000;
}
/* LIST */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.light-text {
  color: #999999;
}
.action {
  font-size: 14px;
}
.action.positive {
  color: #006600;
}
.action.negative {
  color: #660000;
}
/* By default, scr-tiny is hidden and will be show only on tiny screens */
.scr-tiny {
  display: none;
}
/* HEADER and LOGO */
.header .logo {
  font-family: 'Oswald', sans-serif;
  padding: 6px 10px 6px 2px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  font-size: 20px;
  background: #ddd;
  color: white;
  float: left;
  text-transform: uppercase;
  position: absolute;
  top: 16px;
  left: 16px;
}
.header .logo:hover {
  background: #333;
}
/* NAVIGATION BARS */
.nav {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999999;
}
@font Base;
.nav li {
  float: left;
  padding-right: 12px;
}
.nav li.selected {
  color: #333333;
}
.nav li a {
  color: #999999;
  text-decoration: underline;
}
.nav li a:hover {
  color: #333333;
}
.container {
  text-align: center;
  margin-top: 14px;
}
.container .page-wrap {
  text-align: left;
  margin: auto;
}
/* PAGES */
.cover-page .cover {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}
@media (min-width: 1720px) {
  .cover-page .cover {
    width: 420px;
  }
  .cover-page .container {
    margin-right: 420px;
  }
  .cover-page .container .page-wrap {
    width: 1200px;
  }
}
@media (min-width: 1600px) and (max-width: 1719px) {
  .cover-page .cover {
    width: 360px;
  }
  .cover-page .container {
    margin-right: 360px;
  }
  .cover-page .container .page-wrap {
    width: 1020px;
  }
}
/* COLUMNS */
/*
.container(@wmax, @rmargin) {
    @width: @wmax - @rmargin - 100;
    @colWidth: 300;
    @colSpacing: 20;
    @numCols: floor((@width + @colSpacing)/(@colWidth + @colSpacing), 0);
    @margins: floor(floor(@width - ((@numCols * @colWidth) + ((@numCols - 1) * @colSpacing)))/2);
    margin-left: @margins + 0px;
    margin-right: @margins + @rmargin + 0px;
}
*/
/* POSTS */
ul.posts {
  font-family: 'PT Serif', serif;
  clear: both;
  padding: 24px 0 0 0;
}
ul.posts li {
  float: left;
  height: 400px;
  padding-bottom: 20px;
  overflow: hidden;
  margin-right: 20px;
}
ul.posts li .content-wrap {
  height: 400px;
}
ul.posts li .content-wrap .content {
  max-height: 340px;
  overflow: hidden;
  margin-bottom: 8px;
}
ul.posts li .content-wrap .overlay {
  position: absolute;
  height: 48px;
  margin-top: -56px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

}
ul.posts li .content-wrap .source {
  font-size: 14px;
}
ul.posts li .content-wrap .source img {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 4px 4px 0 0;
}
ul.posts li .content-wrap .source .text {
  float: left;
}
ul.posts li .content-wrap .source .activity {
  font-family: 'Open Sans', sans-serif;
  float: left;
  margin-left: 12px;
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  padding-top: 4px;
}
@media (min-width: 1720px) {
  ul.posts li {
    width: 380px;
  }
  ul.posts li .content-wrap {
    width: 380px;
  }
  ul.posts li .content-wrap .overlay {
    width: 380px;
  }
  ul.posts li .content-wrap .text {
    width: 240px;
  }
}
@media (min-width: 1600px) and (max-width: 1719px) {
  ul.posts li {
    width: 320px;
  }
  ul.posts li .content-wrap {
    width: 320px;
  }
  ul.posts li .content-wrap .overlay {
    width: 320px;
  }
  ul.posts li .content-wrap .text {
    width: 180px;
  }
}
ul.posts li.wide {
  width: 100%;
  height: 280px;
}
ul.posts li.wide .image {
  width: 220px;
  height: 280px;
  margin-right: 20px;
  float: left;
  background-size: cover;
  background-position: 0 8px;
  background-repeat: no-repeat;
}
ul.posts li.wide .content-wrap {
  float: left;
  margin-right: 20px;
  height: 280px;
  width: 500px;
}
ul.posts li.wide .content-wrap .content {
  max-height: 200px;
}
ul.posts li.wide .content-wrap .overlay {
  width: 500px;
}
ul.posts li.wide .content-wrap .text {
  width: 360px;
}
ul.posts li h2 {
  margin: 0 0 12px 0;
}
ul.posts li p {
  margin: 0 0 12px 0;
}
/* HOME */
