server {
    listen 80;
    server_name fora.host.name;
    client_max_body_size 20M;

    location /public {
        alias /path/to/fora/www-public;
    }

    location /js {
        alias /path/to/fora/www-client/app/www/js;
    }

    location /vendor {
        alias /path/to/fora/www-client/app/www/vendor;
    }

    location /css {
        alias /path/to/fora/www-client/app/www/css;
    }

    location /fonts {
        alias /path/to/fora/www-client/app/www/fonts;
    }

   location /images {
        alias /path/to/fora/www-client/app/www/images;
    }

    location /shared {
        alias /path/to/fora/www-client/app/www/shared;
    }

    location / {
        proxy_pass http://localhost:10982;
        proxy_set_header   Host         $host;
    }
}
