@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src:
		local('Lato Light'),
		local('Lato-Light'),
		/* from http://fonts.gstatic.com/s/lato/v11/zLhfkPOm_5ykmdm-wXaiuw.eot */
		url('Lato_300.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff */
		url('Lato_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/nj47mAZe0mYUIySgfn0wpQ.ttf */
		url('Lato_300.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=7yKIrlBXX_AXuUv3Ts9_8g#Lato */
		url('Lato_300.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		/* from http://fonts.gstatic.com/s/lato/v11/nQhiC-wSiJx0pvEuJl8d8A.eot */
		url('Lato_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff */
		url('Lato_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf */
		url('Lato_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw#Lato */
		url('Lato_400.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src:
		local('Lato Bold'),
		local('Lato-Bold'),
		/* from http://fonts.gstatic.com/s/lato/v11/sBtfDPlEIwvKKU53nAG7AQ.eot */
		url('Lato_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff */
		url('Lato_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/DvlFBScY1r-FMtZSYIYoYw.ttf */
		url('Lato_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=H4oiIt_Ug9TU5ast0nUT-w#Lato */
		url('Lato_700.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	src:
		local('Lato Light Italic'),
		local('Lato-LightItalic'),
		/* from http://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivPY6323mHUZFJMgTvxaG2iE.eot */
		url('Lato_300italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivD8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Lato_300italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivKCWcynf_cDxXwCLxiixG1c.ttf */
		url('Lato_300italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=2HG_tEPiQ4Z6795cGfdivJbd9NUM7myrQQz30yPaGQ4#Lato */
		url('Lato_300italic.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src:
		local('Lato Italic'),
		local('Lato-Italic'),
		/* from http://fonts.gstatic.com/s/lato/v11/bjaQ6jyWa8A2XFrSKceJyA.eot */
		url('Lato_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff */
		url('Lato_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/LqowQDslGv4DmUBAfWa2Vw.ttf */
		url('Lato_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=sbmVKhXgM5wMsElf_vy3Iw#Lato */
		url('Lato_400italic.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src:
		local('Lato Bold Italic'),
		local('Lato-BoldItalic'),
		/* from http://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEPY6323mHUZFJMgTvxaG2iE.eot */
		url('Lato_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff */
		url('Lato_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEKCWcynf_cDxXwCLxiixG1c.ttf */
		url('Lato_700italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=HkF_qI1x_noxlxhrhMQYEJbd9NUM7myrQQz30yPaGQ4#Lato */
		url('Lato_700italic.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	src:
		local('Vollkorn Regular'),
		local('Vollkorn-Regular'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/rzvoOTOZcQfVDoKuaB7mVvesZW2xOQ-xsNqO47m55DA.eot */
		url('Vollkorn_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/BCFBp4rt5gxxFrX6F12DKvesZW2xOQ-xsNqO47m55DA.woff */
		url('Vollkorn_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/7jR1T900H5YEkd1UcZhA_fesZW2xOQ-xsNqO47m55DA.ttf */
		url('Vollkorn_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=7Ikz6KCROt2STxF2hbeF0_esZW2xOQ-xsNqO47m55DA#Vollkorn */
		url('Vollkorn_400.svg#Vollkorn') format('svg');
}
@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 700;
	src:
		local('Vollkorn Bold'),
		local('Vollkorn-Bold'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/wMZpbUtcCo9GUabw9JODemfQcKutQXcIrRfyR5jdjY8.eot */
		url('Vollkorn_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/wMZpbUtcCo9GUabw9JODeobN6UDyHWBl620a-IRfuBk.woff */
		url('Vollkorn_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/wMZpbUtcCo9GUabw9JODep0EAVxt0G0biEntp43Qt6E.ttf */
		url('Vollkorn_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=wMZpbUtcCo9GUabw9JODenNsigHlcrQGNV8nkUSFQfc#Vollkorn */
		url('Vollkorn_700.svg#Vollkorn') format('svg');
}
@font-face {
	font-family: 'Vollkorn';
	font-style: italic;
	font-weight: 400;
	src:
		local('Vollkorn Italic'),
		local('Vollkorn-Italic'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/Oiz0tNwvC-Nd29SBQWfWTFQlYEbsez9cZjKsNMjLOwM.eot */
		url('Vollkorn_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/Oiz0tNwvC-Nd29SBQWfWTBsxEYwM7FgeyaSgU71cLG0.woff */
		url('Vollkorn_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/Oiz0tNwvC-Nd29SBQWfWTC3USBnSvpkopQaUR-2r7iU.ttf */
		url('Vollkorn_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=Oiz0tNwvC-Nd29SBQWfWTKWUboTb-jS2tyCOQMtm97g#Vollkorn */
		url('Vollkorn_400italic.svg#Vollkorn') format('svg');
}
@font-face {
	font-family: 'Vollkorn';
	font-style: italic;
	font-weight: 700;
	src:
		local('Vollkorn Bold Italic'),
		local('Vollkorn-BoldItalic'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/KNiAlx6phRqXCwnZZG51JGzklk6MJbhg7BmBP42CjCQ.eot */
		url('Vollkorn_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/KNiAlx6phRqXCwnZZG51JAFhaRv2pGgT5Kf0An0s4MM.woff */
		url('Vollkorn_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/vollkorn/v6/KNiAlx6phRqXCwnZZG51JPEr6Hm6RMS0v1dtXsGir4g.ttf */
		url('Vollkorn_700italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=KNiAlx6phRqXCwnZZG51JD9QLNJZUvW8xv4RpDkyVDQ#Vollkorn */
		url('Vollkorn_700italic.svg#Vollkorn') format('svg');
}
