<script>
    view = new Lappd.Views.Home.IndexView()
</script>
<div class="page-content">
    <ul class="post-summaries">
        {{#if posts}}
            {{> postSummary this}}
        {{/if}}
    </ul>
</div>

