<script>
    view = new Lappd.Views.Home.IndexView()
</script>
<div class="columns-wrap">
    <ul class="nav">
        <li class="selected">
            Posts
        </li>
        <li class="selected">
            <a href="/forums">Forums</a>
        </li>            
    </ul>
    {{#if editorsChoices}}
        <ul class="posts">
        {{#each editorsChoices}}
            {{> postSummary summary}}
        {{/each}}
        </ul>
    {{/if}}
    {{#if featured}}
        <ul class="posts">
        {{#each featured}}
            {{> postSummary summary}}
        {{/each}}
        </ul>
    {{/if}}
</div>

