<ul class="sections content-box">
    <li>
        <h1>
            What is Fora?
        </h1>
        <p>
            The Fora Project wants to go back to old school social networks. Forums. 
        </p>
        <h2>Sharing ideas, not memes</h2>
        <p>
            People spend a significant amount of their free time on Facebook and other Social Networks. But increasingly,
            we feel that people 
        </p>
        <p>
            Beef meatloaf pig, prosciutto frankfurter pastrami corned beef pork leberkas chuck. Spare ribs t-bone beef
            ribs short ribs, prosciutto ham hock jerky. Strip steak pork short loin short ribs cow ball tip, biltong
            turducken fatback. Jowl boudin pork chop, tenderloin t-bone pig corned beef brisket tongue. Pork loin cow
            short ribs pork shoulder, venison pancetta strip steak drumstick. Pork loin jerky brisket beef doner sirloin
            pork belly chicken turducken salami swine corned beef.
        </p>
        <h2>Open Source. Both code and the journey.</h2>
        <p>
            Fora will be released under the MIT license. This means that you could use it or modify it however you want.
            But we want to go further than that.
        </p>        
        <p>
            We want the entire development process of Fora to be open. We want to document and share our sketches,
            ideas, planning and whiteboard sessions. People should benefit from our experience building this. For anyone
            who is planning to build a product, this could be a live tutorial.
        </p>       
    </li>
</ul>

