<script>
    view = new Fora.Views.Articles.Item()
</script>
<div class="columns-wrap">
    <ul class="nav">
        <li>
            <a href="/">Posts</a>
        </li>
        <li class="selected">
            Forums
        </li>            
    </ul>
    <div class="content-area">    
        <div class="post">
            {{{article.formattedContent}}}
        </div>
    </div>
</div>

