/* SYSTEM WIDE COLORS */
@sysColorDark: #666;
@sysColorDark: #333;
@sysColorDark: #111;
@sysColorLight: #ccc;
@sysColorLighter: #eee;
@sysColorLightest: #f6f6f6;

/* STRUCTURE */
@borderRadius: 2px;

.italics { font-style: italic; }
.center { text-align: center }
.float { float: left }
.subtext { .italics; font-size: 0.9em; font-style: italic }
.rounded { border-radius: @borderRadius }
